<li lang="objectivec-swift">
    <a href="{{ site.oc }}" class="otherLinkColour">DBR-iOS Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-oc.html" -%}
<li lang="android">
    <a href="{{ site.android }}" class="otherLinkColour">DBR-Android Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-android.html" -%}
<li lang="Flutter">
    <a href="{{ site.flutter_local }}" class="otherLinkColour">DBR-Flutter Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-flutter.html" -%}
<li lang="react-native">
    <a href="{{ site.react_native }}" class="otherLinkColour">DBR-React Native Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-react-native.html" -%}
<li lang="cordova">
    <a href="{{ site.cordova }}" class="otherLinkColour">DBR-Cordova Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-cordova.html" -%}
<li lang="xamarin">
    <a href="{{ site.xamarin }}" class="otherLinkColour">DBR-Xamarin.Forms Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-xamarin.html" -%}
