<li lang="objectivec-swift">
    <a href="{{ site.oc }}" class="otherLinkColour">DBR-iOS Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-oc.html" -%}
<li lang="android">
    <a href="{{ site.android }}" class="otherLinkColour">DBR-Android Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-android.html" -%}
<li lang="maui">
    <a href="{{ site.dbr_maui }}" class="otherLinkColour">DBR-MAUI Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-maui.html" -%}