<li lang="flutter" class="category">DEVELOPMENT ON CORDOVA</li>

<li lang="flutter" ><a href="{{ site.flutter }}user-guide/index.html" class="otherLinkColour">User Guide</a>
    <ul lang="flutter" >
        <li lang="flutter" ><a href="{{ site.flutter }}user-guide.html" class="otherLinkColour">Getting Started</a> </li>
    </ul>
</li>
<li><a href="{{ site.flutter_api }}" class="otherLinkColour">API references</a>
    <ul>
        <li><a href="{{ site.flutter_api }}barcode-reader.html" class="otherLinkColour">DCVBarcodeReader Class</a></li>
        <li><a href="{{ site.flutter_api }}camera-enhancer.html" class="otherLinkColour">DCVCameraEnhancer Class</a></li>
        <li><a href="{{ site.flutter_api }}camera-view.html" class="otherLinkColour">DCVCameraView Class</a></li>
        <li><a style="cursor:pointer;color:#3c3c3c">Auxiliary Classes</a>
            <ul>
                <li><a href="{{ site.flutter_api }}class-dbr-runtime-settings.html" class="otherLinkColour">DBRRuntimeSettings</a></li>
                <li><a href="{{ site.flutter_api }}class-barcode-result.html" class="otherLinkColour">BarcodeResult</a></li>
                <li><a href="{{ site.flutter_api }}class-barcode-location-result.html" class="otherLinkColour">BarcodeLocationResult</a></li>
                <li><a href="{{ site.flutter_api }}class-further-modes.html" class="otherLinkColour">FurtherModes</a></li>
                <li><a href="{{ site.flutter_api }}class-quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                <li><a href="{{ site.flutter_api }}class-point.html" class="otherLinkColour">Point</a></li>
                <li><a href="{{ site.flutter_api }}class-region.html" class="otherLinkColour">Region</a></li>
                <li><a href="{{ site.flutter_api }}class-torch-button.html" class="otherLinkColour">TorchButton</a></li>
            </ul>
        </li>
        <li><a style="cursor:pointer;color:#3c3c3c">Enumerations</a>
            <ul>
                <li><a href="{{ site.flutter_api }}enum-barcode-colour-mode.html" class="otherLinkColour">EnumBarcodeColourMode</a></li>
                <li><a href="{{ site.flutter_api }}enum-barcode-complement-mode.html" class="otherLinkColour">EnumBarcodeComplementMode</a></li>
                <li><a href="{{ site.flutter_api }}enum-barcode-format.html" class="otherLinkColour">EnumBarcodeFormat</a></li>
                <li><a href="{{ site.flutter_api }}enum-barcode-format2.html" class="otherLinkColour">EnumBarcodeFormat_2</a></li>
                <li><a href="{{ site.flutter_api }}enum-binarization-mode.html" class="otherLinkColour">EnumBinarizationMode</a></li>
                <li><a href="{{ site.flutter_api }}enum-camera-position.html" class="otherLinkColour">EnumCameraPosition</a></li>
                <li><a href="{{ site.flutter_api }}enum-colour-clustering-mode.html" class="otherLinkColour">EnumColourClusteringMode</a></li>
                <li><a href="{{ site.flutter_api }}enum-colour-coversion-mode.html" class="otherLinkColour">EnumColourConversionMode</a></li>                        
                <li><a href="{{ site.flutter_api }}enum-dbr-preset-template.html" class="otherLinkColour">EnumDBRPresetTemplate</a></li>
                <li><a href="{{ site.flutter_api }}enum-deblur-mode.html" class="otherLinkColour">EnumDeblurMode</a></li>
                <li><a href="{{ site.flutter_api }}enum-deformation-resisting-mode.html" class="otherLinkColour">EnumDeformationResistingMode</a></li>
                <li><a href="{{ site.flutter_api }}enum-dpm-code-reading-mode.html" class="otherLinkColour">EnumDPMCodeReadingMode</a></li>
                <li><a href="{{ site.flutter_api }}enum-grayscale-transformation-mode.html" class="otherLinkColour">EnumGrayscaleTransformationMode</a></li>
                <li><a href="{{ site.flutter_api }}enum-image-preprocessing-mode.html" class="otherLinkColour">EnumImagePreprocessingMode</a></li>
                <li><a href="{{ site.flutter_api }}enum-localization-mode.html" class="otherLinkColour">EnumLocalizationMode</a></li>
                <li><a href="{{ site.flutter_api }}enum-region-predetection-mode.html" class="otherLinkColour">EnumRegionPredetectionMode</a></li>
                <li><a href="{{ site.flutter_api }}enum-scaleup-mode.html" class="otherLinkColour">EnumScaleUpMode</a></li>
                <li><a href="{{ site.flutter_api }}enum-text-filter-mode.html" class="otherLinkColour">EnumTextFilterMode</a></li>
                <li><a href="{{ site.flutter_api }}enum-text-result-order-mode.html" class="otherLinkColour">EnumTextResultOrderMode</a></li>
                <li><a href="{{ site.flutter_api }}enum-texture-detection-mode.html" class="otherLinkColour">EnumTextureDetectionMode </a></li>
            </ul>
        </li>
    </ul>
</li>

<li lang="flutter" class="category">USEFUL RESOURCES</li>

<li lang="flutter" ><a href="{{ site.flutter_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul lang="flutter" >
        <li lang="flutter" ><a href="{{ site.flutter_release_notes }}flutter-9.html" class="otherLinkColour">Version 9.x</a></li>
        <li lang="flutter" ><a href="{{ site.flutter_release_notes }}flutter-8.html" class="otherLinkColour">Version 8.x</a></li>
        <li lang="flutter" ><a href="{{ site.flutter_release_notes }}flutter-7.html" class="otherLinkColour">Version 7.6.1 and below</a></li>
    </ul>
</li>
<li lang="flutter" ><a style="cursor:pointer;color:#3c3c3c">Upgrade Instructions</a>
    <ul lang="flutter" >
        <li lang="flutter" ><a href="{{ site.flutter }}upgrade-to-9.x.html" class="otherLinkColour">Upgrade to 9.x</a></li>
        <li lang="flutter" ><a href="{{ site.flutter }}upgrade.html" class="otherLinkColour">Upgrade to 8.x</a></li>
    </ul>
</li>
<li lang="flutter"  class="category">OTHERS</li>
<li lang="flutter" ><a target="_blank" href="{{ site.oc }}" class="otherLinkColour refreshLink">Develop for iOS</a></li>
<li lang="flutter" ><a target="_blank" href="{{ site.android }}" class="otherLinkColour refreshLink">Develop for Android</a></li>
<li lang="flutter" ><a target="_blank" href="https://www.dynamsoft.com/capture-vision/docs/programming/react-native/?ver=latest" class="otherLinkColour refreshLink">Develop for React Native</a></li>
<li lang="flutter" ><a target="_blank" href="https://www.dynamsoft.com/capture-vision/docs/programming/flutter/?ver=latest" class="otherLinkColour refreshLink">Develop for Flutter</a></li>
<li lang="flutter" ><a target="_blank" href="https://www.dynamsoft.com/capture-vision/docs/programming/xamarin/?ver=latest" class="otherLinkColour refreshLink">Develop for Xamarin.Forms</a></li>
<li lang="flutter" ><a target="_blank" href="https://www.dynamsoft.com/capture-vision/docs/programming/cordova/?ver=latest" class="otherLinkColour refreshLink">Develop for Cordova</a></li>
