<li lang="objectivec-swift" class="category">DEVELOPMENT ON IOS</li>
<li lang="objectivec-swift"><a style="cursor:pointer;color:#3c3c3c">User Guide</a>
    <ul lang="objectivec-swift">
        <li lang="objectivec-swift"><a href="{{ site.oc }}user-guide.html" class="otherLinkColour">Getting Started</a></li>
        <li lang="android" ><a href="{{ site.android }}user-guide/explore-features/index.html" class="otherLinkColour">Explore Features</a>
            <ul lang="android" >
                <li lang="android" ><a class="otherLinkColour">Basic Features</a>
                    <ul lang="android" >
                        <li lang="android" ><a href="{{ site.features }}barcode-formats-and-count.html?lang=android" class="otherLinkColour">Specify barcode formats and count</a></li>
                        <li lang="android" ><a href="{{ site.features }}read-different-source.html?lang=android" class="otherLinkColour">Read barcode from image</a></li>
                        <li lang="android" ><a href="{{ site.features }}read-video-streaming-mobile.html?lang=android" class="otherLinkColour">Read barcode from video streaming</a></li>
                        <li lang="android" ><a href="{{ site.features }}barcode-scan-region-mobile.html?lang=android" class="otherLinkColour">Read a specific area/region</a></li>
                        <li lang="android" ><a href="{{ site.android }}ui-configurations.html" class="otherLinkColour">Customize the UI</a></li>
                    </ul>
                </li>
                <li lang="android" ><a class="otherLinkColour">Handle Different Scenarios</a>
                    <ul lang="android" >
                        <li lang="android" ><a href="{{ site.features }}read-inverted-barcodes.html?lang=android" class="otherLinkColour">Read inverted barcodes</a></li>
                        <li lang="android" ><a href="{{ site.features }}read-deformed-barcodes.html?lang=android" class="otherLinkColour">Read deformed barcodes</a></li>
                        <li lang="android" ><a href="{{ site.features }}read-incomplete-barcodes.html?lang=android" class="otherLinkColour">Read incomplete barcodes</a></li>
                        <li lang="android" ><a href="{{ site.features }}read-a-large-image.html?lang=android" class="otherLinkColour">Read barcodes from a large image</a></li>
                        <li lang="android" ><a href="{{ site.features }}read-barcodes-with-small-module-size.html?lang=android" class="otherLinkColour">Read barcodes with small module size</a></li>
                        <li lang="android" ><a href="{{ site.features }}read-barcodes-with-imbalanced-colour.html?lang=android" class="otherLinkColour">Read images with imbalanced colors</a></li>
                        <li lang="android" ><a href="{{ site.features }}read-barcodes-with-uneven-lighting.html?lang=android" class="otherLinkColour">Read images with uneven lighting</a></li>
                        <li lang="android" ><a href="{{ site.features }}read-images-with-texture.html?lang=android" class="otherLinkColour">Read images with texture</a></li>
                        <li lang="android" ><a href="{{ site.features }}read-images-with-lots-of-text.html?lang=android" class="otherLinkColour">Read images with lots of text</a></li>
                        <li lang="android" ><a href="{{ site.features }}read-dense-barcodes.html?lang=android" class="otherLinkColour">Read high-density QR Codes</a></li>
                        <li lang="android" ><a href="{{ site.features }}preprocess-images.html?lang=android" class="otherLinkColour">Preprocess images to read difficult barcodes</a></li>
                    </ul>
                </li>
                <li lang="android" ><a class="otherLinkColour">Barcode Results</a>
                    <ul lang="android" >
                        <li lang="android" ><a href="{{ site.features }}get-confidence-rotation.html?lang=android" class="otherLinkColour">Get barcode confidence and rotation</a></li>
                        <li lang="android" ><a href="{{ site.features }}get-barcode-location.html?lang=android" class="otherLinkColour">Get barcode location</a></li>
                        <li lang="android" ><a href="{{ site.features }}get-detailed-info.html?lang=android" class="otherLinkColour">Get detailed barcode information</a></li>
                        <li lang="android" ><a href="{{ site.features }}filter-and-sort.html?lang=android" class="otherLinkColour">Filter and sort decoding results</a></li>
                        <li lang="android" ><a href="{{ site.features }}use-intermidiate-results.html?lang=android" class="otherLinkColour">Use intermediate results</a></li>
                    </ul>
                </li>
                <li lang="android" ><a class="otherLinkColour">Advanced Features</a>
                    <ul lang="android" >
                        <li lang="android" ><a href="{{ site.features }}control-terminate-phase.html?lang=android" class="otherLinkColour">Control when to terminate a decoding process</a></li>
                        <li lang="android" ><a href="{{ site.features }}use-runtimesettings-or-templates.html?lang=android" class="otherLinkColour">Use RuntimeSettings or Templates</a></li>
                        <li lang="android" ><a href="{{ site.features }}use-format-specific-configuration.html?lang=android" class="otherLinkColour">Use format specific configurations</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="android" ><a href="{{ site.android }}user-guide/use-cases/index.html" class="otherLinkColour">Check Use Cases</a>
            <ul lang="android" >
                <li lang="android" ><a href="{{ site.usecases }}read-dpm-codes.html?lang=android" class="otherLinkColour">Read DPM codes</a></li>
                <li lang="android" ><a href="{{ site.usecases }}read-postal-codes.html?lang=android" class="otherLinkColour">Read Postal codes</a></li>
            </ul>
        </li>
        <li lang="android" ><a href="{{ site.android }}quick-performance-settings.html" class="otherLinkColour">Optimize Performance</a></li>
    </ul>            
</li> 
<li lang="objectivec-swift"><a href="{{ site.oc }}samples/index.html" class="otherLinkColour">Demo & Samples</a>
    <ul lang="objectivec-swift">
        <li lang="objectivec-swift"><a href="{{ site.oc }}samples/helloworld.html" class="otherLinkColour">HelloWorld</a></li>
        <li lang="objectivec-swift"><a href="{{ site.oc }}samples/general.html" class="otherLinkColour">GeneralSettings</a></li>
        <li lang="objectivec-swift"><a href="{{ site.oc }}samples/performance.html" class="otherLinkColour">PerformanceSettings</a></li>
        <li lang="objectivec-swift"><a href="{{ site.oc }}samples/drivers-license.html" class="otherLinkColour">ReadADriversLicense</a></li>
        <li lang="objectivec-swift"><a href="{{ site.oc }}samples/no-camera-enhancer.html" class="otherLinkColour">DecodeWithAVCaptureSession</a></li>
    </ul>
</li>
<li lang="objectivec-swift"><a href="{{ site.oc_api }}index.html" class="otherLinkColour">API Reference</a>
    <ul lang="objectivec-swift">
        <li lang="objectivec-swift"><a href="{{ site.oc_api }}primary-index.html" class="otherLinkColour">DynamsoftBarcodeReader Class</a>
            <ul lang="objectivec-swift">
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}primary-initialize.html" class="otherLinkColour">Initialization and Destroy</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}primary-video.html" class="otherLinkColour">Video Decoding Methods</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}primary-decode.html" class="otherLinkColour">Image Decoding Methods</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}primary-license.html" class="otherLinkColour">License Methods</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}primary-parameter-and-runtime-settings-basic.html" class="otherLinkColour">Parameter and Runtime Settings Basic Methods</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}primary-parameter-and-runtime-settings-advanced.html" class="otherLinkColour">Parameter and Runtime Settings Advanced Methods</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}primary-result.html" class="otherLinkColour">Result Methods</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}primary-status-retrieval.html" class="otherLinkColour">Status Retrieval Methods</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-index.html" class="otherLinkColour">Auxiliary Classes</a>
            <ul lang="objectivec-swift">
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-common-classes.html" class="otherLinkColour">Common Classes</a>
                    <ul lang="objectivec-swift">
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iQuadrilateral.html" class="otherLinkColour">iQuadrilateral</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iRegionDefinition.html" class="otherLinkColour">iRegionDefinition</a></li>
                    </ul>
                </li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-parameter-index.html" class="otherLinkColour">Parameter Configuration</a>
                    <ul lang="objectivec-swift">
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iPublicRuntimeSettings.html" class="otherLinkColour">iPublicRuntimeSettings</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iFurtherModes.html" class="otherLinkColour">iFurtherModes</a></li>
                    </ul>
                </li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-textresult-index.html" class="otherLinkColour">Barcode Result Classes</a>
                    <ul lang="objectivec-swift">
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iTextResult.html" class="otherLinkColour">iTextResult</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iLocalizationResult.html" class="otherLinkColour">iLocalizationResult</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iExtendedResult.html" class="otherLinkColour">iExtendedResult</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iAztecDetails.html" class="otherLinkColour">iAztecDetails</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iDataMatrixDetails.html" class="otherLinkColour">iDataMatrixDetails</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iOneDCodeDetails.html" class="otherLinkColour">iOneDCodeDetails</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iPDF417Details.html" class="otherLinkColour">iPDF417Details</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iQRCodeDetails.html" class="otherLinkColour">iQRCodeDetails</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iSamplingImageData.html" class="otherLinkColour">iSamplingImageData</a></li>
                    </ul>
                </li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-intermediate-index.html" class="otherLinkColour">Intermediate Result Classes</a>
                    <ul lang="objectivec-swift">
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iIntermediateResult.html" class="otherLinkColour">iIntermediateResult</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iContour.html" class="otherLinkColour">iContour</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iImageData.html" class="otherLinkColour">iImageData</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iLineSegment.html" class="otherLinkColour">iLineSegment</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iRegionOfInterest.html" class="otherLinkColour">iRegionOfInterest</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="objectivec-swift"><a style="cursor:pointer;color:#3c3c3c">Protocols</a>
            <ul lang="objectivec-swift">
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}protocol-dbrtextresultdelegate.html" class="otherLinkColour">DBRTextResultListener</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}protocol-dbrintermediateresultdelegate.html" class="otherLinkColour">DBRIntermediateResultListener</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}protocol-dbrlicenseverificationlistener.html" class="otherLinkColour">DBRLicenseVerificationListener</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift" ><a style="cursor:pointer;color:#3c3c3c">Enumerations</a>
            <ul lang="objectivec-swift" >
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}barcode-colour-mode.html?lang=objc,swift" class="otherLinkColour">EnumBarcodeColourMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}barcode-complement-mode.html?lang=objc,swift" class="otherLinkColour">EnumBarcodeComplementMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}barcode-format.html?lang=objc,swift" class="otherLinkColour">EnumBarcodeFormat</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}barcode-format2.html?lang=objc,swift" class="otherLinkColour">EnumBarcodeFormat_2</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}binarization-mode.html?lang=objc,swift" class="otherLinkColour">EnumBinarizationMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}colour-clustering-mode.html?lang=objc,swift" class="otherLinkColour">EnumColourClusteringMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}colour-conversion-mode.html?lang=objc,swift" class="otherLinkColour">EnumColourConversionMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}conflict-mode.html?lang=objc,swift" class="otherLinkColour">EnumConflictMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}deblur-mode.html?lang=objc,swift" class="otherLinkColour">EnumDeblurMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}deformation-resisting-mode.html?lang=objc,swift" class="otherLinkColour">EnumDeformationResistingMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}dpm-code-reading-mode.html?lang=objc,swift" class="otherLinkColour">EnumDPMCodeReadingMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}grayscale-transformation-mode.html?lang=objc,swift" class="otherLinkColour">EnumGrayscaleTransformationMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}im-result-data-type.html?lang=objc,swift" class="otherLinkColour">EnumIMResultDataType</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}image-pixel-format.html?lang=objc,swift" class="otherLinkColour">EnumImagePixelFormat</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}image-preprocessing-mode.html?lang=objc,swift" class="otherLinkColour">EnumImagePreprocessingMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}intermediate-result-saving-mode.html?lang=objc,swift" class="otherLinkColour">EnumIntermediateResultSavingMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}intermediate-result-type.html?lang=objc,swift" class="otherLinkColour">EnumIntermediateResultType</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}localization-mode.html?lang=objc,swift" class="otherLinkColour">EnumLocalizationMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}pdf-reading-mode.html?lang=objc,swift" class="otherLinkColour">EnumPDFReadingMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}preset-template.html?lang=objc,swift" class="otherLinkColour">EnumPresetTemplate</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}qr-code-error-correction-level.html?lang=objc,swift" class="otherLinkColour">EnumQRCodeErrorCorrectionLevel</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}region-predetection-mode.html?lang=objc,swift" class="otherLinkColour">EnumRegionPredetectionMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}result-coordinate-type.html?lang=objc,swift" class="otherLinkColour">EnumResultCoordinateType</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}result-type.html?lang=objc,swift" class="otherLinkColour">EnumResultType</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}scale-up-mode.html?lang=objc,swift" class="otherLinkColour">EnumScaleUpMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}terminate-phase.html?lang=objc,swift" class="otherLinkColour">EnumTerminatePhase</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}text-filter-mode.html?lang=objc,swift" class="otherLinkColour">EnumTextFilterMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}text-result-order-mode.html?lang=objc,swift" class="otherLinkColour">EnumTextResultOrderMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}texture-detection-mode.html?lang=objc,swift" class="otherLinkColour">EnumTextureDetectionMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}error-code.html?lang=objc,swift" class="otherLinkColour">Error Code</a></li>
            </ul>
        </li>        
    </ul>
</li>
<li lang="objectivec-swift" class="category">USEFUL RESOURCES</li>
<li lang="objectivec-swift"><a href="{{ site.oc_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul lang="objectivec-swift">
        <li lang="objectivec-swift"><a href="{{ site.oc_release_notes }}ios-9.html" class="otherLinkColour">Version 9.x</a></li>
        <li lang="objectivec-swift"><a href="{{ site.oc_release_notes }}ios-8.html" class="otherLinkColour">Version 8.x</a></li>
        <li lang="objectivec-swift"><a href="{{ site.oc_release_notes }}ios-7.html" class="otherLinkColour">Version 7.6 and below</a></li>
    </ul>
</li>
<li lang="objectivec-swift"><a style="cursor:pointer;color:#3c3c3c">Upgrade Instructions</a>
    <ul lang="objectivec-swift">
        <li lang="objectivec-swift"><a href="{{ site.oc }}upgrade-to-9.x.html" class="otherLinkColour">Upgrade to 9.x</a></li>
        <li lang="objectivec-swift"><a href="{{ site.oc }}upgrade.html" class="otherLinkColour">Upgrade to 8.x</a></li>
    </ul>
</li>


<li lang="objectivec-swift" class="category">OTHERS</li>
<li lang="objectivec-swift"><a target="_blank" href="{{ site.android }}" class="otherLinkColour refreshLink">Develop for Android</a></li>
<li lang="objectivec-swift" ><a target="_blank" href="https://www.dynamsoft.com/capture-vision/docs/programming/react-native/?ver=latest" class="otherLinkColour refreshLink">Develop for React Native</a></li>
<li lang="objectivec-swift" ><a target="_blank" href="https://www.dynamsoft.com/capture-vision/docs/programming/flutter/?ver=latest" class="otherLinkColour refreshLink">Develop for Flutter</a></li>
<li lang="objectivec-swift" ><a target="_blank" href="https://www.dynamsoft.com/capture-vision/docs/programming/xamarin/?ver=latest" class="otherLinkColour refreshLink">Develop for Xamarin.Forms</a></li>
<li lang="objectivec-swift" ><a target="_blank" href="https://www.dynamsoft.com/capture-vision/docs/programming/cordova/?ver=latest" class="otherLinkColour refreshLink">Develop for Cordova</a></li>
