<li lang="android" class="category">DEVELOPMENT ON ANDROID</li>
<li lang="android"><a href="{{ site.android }}user-guide.html" class="otherLinkColour">User Guide</a></li>
<li lang="android"><a href="{{ site.android_api }}index.html" class="otherLinkColour">API Reference</a>
    <ul lang="android">
        <li lang="android"><a href="{{ site.android_api }}primary-index.html" class="otherLinkColour">BarcodeReader Class</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.android_api }}primary-initialize-and-destroy.html" class="otherLinkColour">Initialization and Destroy</a></li>
                <li lang="android"><a href="{{ site.android_api }}primary-decode.html" class="otherLinkColour">Decode Methods</a></li>
                <li lang="android"><a href="{{ site.android_api }}primary-license.html" class="otherLinkColour">License Methods</a></li>
                <li lang="android"><a href="{{ site.android_api }}primary-parameter-and-runtime-settings-advanced.html" class="otherLinkColour">Parameter and Runtime Settings Advanced Methods</a></li>
                <li lang="android"><a href="{{ site.android_api }}primary-parameter-and-runtime-settings-basic.html" class="otherLinkColour">Parameter and Runtime Settings Basic Methods</a></li>
                <li lang="android"><a href="{{ site.android_api }}primary-result.html" class="otherLinkColour">Result Methods</a></li>
                <li lang="android"><a href="{{ site.android_api }}primary-status-retrieval.html" class="otherLinkColour">Status Retrieval Methods</a></li>
                <li lang="android"><a href="{{ site.android_api }}primary-video.html" class="otherLinkColour">Video Methods</a></li>
            </ul>
        </li>
        <li lang="android"><a href="{{ site.android_api }}auxiliary-index.html" class="otherLinkColour">Auxiliary Classes</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.android_api }}auxiliary-DMDLSConnectionParameters.html" class="otherLinkColour">License Activation Class</a></li>
                <li lang="android"><a href="{{ site.android_api }}auxiliary-common-classes.html" class="otherLinkColour">Common Classes</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-Point.html" class="otherLinkColour">Point</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-Quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-RegionDefinition.html" class="otherLinkColour">RegionDefinition</a></li>
                    </ul>
                </li>
                <li lang="android"><a href="{{ site.android_api }}auxiliary-parameter-index.html" class="otherLinkColour">Parameter Configuration</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-PublicRuntimeSettings.html" class="otherLinkColour">PublicRuntimeSettings</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-FurtherModes.html" class="otherLinkColour">FurtherModes</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-FrameDecodingParameters.html" class="otherLinkColour">FrameDecodingParameters</a></li>
                    </ul>
                </li>
                <li lang="android"><a href="{{ site.android_api }}auxiliary-textresult-index.html" class="otherLinkColour">Barcode Result Classes</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-TextResult.html" class="otherLinkColour">TextResult</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-LocalizationResult.html" class="otherLinkColour">LocalizationResult</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-ExtendedResult.html" class="otherLinkColour">ExtendedResult</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-AztecDetails.html" class="otherLinkColour">AztecDetails</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-DataMatrixDetails.html" class="otherLinkColour">DataMatrixDetails</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-OneDCodeDetails.html" class="otherLinkColour">OneDCodeDetails</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-PDF417Details.html" class="otherLinkColour">PDF417Details</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-QRCodeDetails.html" class="otherLinkColour">QRCodeDetails</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-SamplingImageData.html" class="otherLinkColour">SamplingImageData</a></li>
                    </ul>
                </li>
                <li lang="android"><a href="{{ site.android_api }}auxiliary-intermediate-index.html" class="otherLinkColour">Intermediate Result Classes</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-IntermediateResult.html" class="otherLinkColour">IntermediateResult</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-Contour.html" class="otherLinkColour">Contour</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-ImageData.html" class="otherLinkColour">ImageData</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-LineSegment.html" class="otherLinkColour">LineSegment</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-RegionOfInterest.html" class="otherLinkColour">RegionOfInterest</a></li>
                    </ul>
                </li>
                <li lang="android"><a href="{{ site.android_api }}auxiliary-BarcodeReaderException.html" class="otherLinkColour">BarcodeReaderException</a></li>
            </ul>
        </li>
        <li lang="android"><a style="cursor:pointer;color:#3c3c3c">Interfaces</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.android_api }}interface-textresultcallback.html" class="otherLinkColour">TextResultCallback</a></li>
                <li lang="android"><a href="{{ site.android_api }}interface-intermediateresultcallback.html" class="otherLinkColour">IntermediateResultCallback</a></li>
                <li lang="android"><a href="{{ site.android_api }}interface-errorcallback.html" class="otherLinkColour">ErrorCallback</a></li>
                <li lang="android"><a href="{{ site.android_api }}interface-dbrserverlicenseverificationlistener.html" class="otherLinkColour">DBRServerLicenseVerificationListener</a></li>
                <li lang="android"><a href="{{ site.android_api }}interface-dbrdlslicenseverificationlistener.html" class="otherLinkColour">DBRLTSLicenseVerificationListener</a></li>
            </ul>
        </li>
        <li lang="android" ><a style="cursor:pointer;color:#3c3c3c">Enumerations</a>
            <ul lang="android" >
                <li lang="android" ><a href="{{ site.mobile_enum }}barcode-colour-mode.html?lang=android" class="otherLinkColour">EnumBarcodeColourMode</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}barcode-complement-mode.html?lang=android" class="otherLinkColour">EnumBarcodeComplementMode</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}barcode-format.html?lang=android" class="otherLinkColour">EnumBarcodeFormat</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}barcode-format2.html?lang=android" class="otherLinkColour">EnumBarcodeFormat_2</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}binarization-mode.html?lang=android" class="otherLinkColour">EnumBinarizationMode</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}colour-clustering-mode.html?lang=android" class="otherLinkColour">EnumColourClusteringMode</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}colour-conversion-mode.html?lang=android" class="otherLinkColour">EnumColourConversionMode</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}conflict-mode.html?lang=android" class="otherLinkColour">EnumConflictMode</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}deblur-mode.html?lang=android" class="otherLinkColour">EnumDeblurMode</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}deformation-resisting-mode.html?lang=android" class="otherLinkColour">EnumDeformationResistingMode</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}dpm-code-reading-mode.html?lang=android" class="otherLinkColour">EnumDPMCodeReadingMode</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}grayscale-transformation-mode.html?lang=android" class="otherLinkColour">EnumGrayscaleTransformationMode</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}im-result-data-type.html?lang=android" class="otherLinkColour">EnumIMResultDataType</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}image-pixel-format.html?lang=android" class="otherLinkColour">EnumImagePixelFormat</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}image-preprocessing-mode.html?lang=android" class="otherLinkColour">EnumImagePreprocessingMode</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}intermediate-result-saving-mode.html?lang=android" class="otherLinkColour">EnumIntermediateResultSavingMode</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}intermediate-result-type.html?lang=android" class="otherLinkColour">EnumIntermediateResultType</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}localization-mode.html?lang=android" class="otherLinkColour">EnumLocalizationMode</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}pdf-reading-mode.html?lang=android" class="otherLinkColour">EnumPDFReadingMode</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}qr-code-error-correction-level.html?lang=android" class="otherLinkColour">EnumQRCodeErrorCorrectionLevel</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}region-predetection-mode.html?lang=android" class="otherLinkColour">EnumRegionPredetectionMode</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}result-coordinate-type.html?lang=android" class="otherLinkColour">EnumResultCoordinateType</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}result-type.html?lang=android" class="otherLinkColour">EnumResultType</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}scale-up-mode.html?lang=android" class="otherLinkColour">EnumScaleUpMode</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}terminate-phase.html?lang=android" class="otherLinkColour">EnumTerminatePhase</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}text-filter-mode.html?lang=android" class="otherLinkColour">EnumTextFilterMode</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}text-result-order-mode.html?lang=android" class="otherLinkColour">EnumTextResultOrderMode</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}texture-detection-mode.html?lang=android" class="otherLinkColour">EnumTextureDetectionMode</a></li>
                <li lang="android" ><a href="{{ site.mobile_enum }}error-code.html" class="otherLinkColour">Error Code</a></li>
            </ul>
        </li>          
    </ul>
</li>

<li lang="android" class="category">USEFUL RESOURCES</li>

<li lang="android"><a href="{{ site.android_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul lang="android">
        <li lang="android"><a href="{{ site.android_release_notes }}android-8.html" class="otherLinkColour">Version 8.x</a></li>
        <li lang="android"><a href="{{ site.android_release_notes }}android-7.html" class="otherLinkColour">Version 7.6.1 and below</a></li>
    </ul>
</li>

<li lang="android"  class="category">OTHERS</li>
<li lang="android" ><a target="_blank" href="{{ site.oc }}" class="otherLinkColour refreshLink">Develop for iOS</a></li>
