<li lang="cordova" class="category">DEVELOPMENT ON CORDOVA</li>

<li lang="cordova" ><a href="{{ site.cordova }}user-guide/index.html?product=dbr&repoType=mobile" class="otherLinkColour">User Guide</a>
    <ul lang="cordova" >
        <li lang="cordova" ><a href="{{ site.cordova }}user-guide.html?product=dbr&repoType=mobile" class="otherLinkColour">Getting Started</a> </li>
    </ul>
</li>
<li lang="cordova" ><a href="{{ site.cordova_api }}index.html?product=dbr&repoType=mobile" class="otherLinkColour">API references</a>
    <ul lang="cordova" >
        <li lang="cordova" ><a href="{{ site.cordova_api }}barcode-reader.html?product=dbr&repoType=mobile" class="otherLinkColour">DCVBarcodeReader Class</a></li>
        <li lang="cordova" ><a href="{{ site.cordova_api }}camera-enhancer.html?product=dbr&repoType=mobile" class="otherLinkColour">DCVCameraEnhancer Class</a></li>
        <li lang="cordova" ><a href="{{ site.cordova_api }}camera-view.html?product=dbr&repoType=mobile" class="otherLinkColour">DCVCameraView Class</a></li>
        <li lang="cordova" ><a style="cursor:pointer;color:#3c3c3c">Auxiliary Classes</a>
            <ul lang="cordova" >
                <li lang="cordova" ><a href="{{ site.cordova_api }}class-dbr-runtime-settings.html?product=dbr&repoType=mobile" class="otherLinkColour">DBRRuntimeSettings</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}class-barcode-result.html?product=dbr&repoType=mobile" class="otherLinkColour">BarcodeResult</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}class-barcode-location-result.html?product=dbr&repoType=mobile" class="otherLinkColour">BarcodeLocationResult</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}class-further-modes.html?product=dbr&repoType=mobile" class="otherLinkColour">FurtherModes</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}class-quadrilateral.html?product=dbr&repoType=mobile" class="otherLinkColour">Quadrilateral</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}class-point.html?product=dbr&repoType=mobile" class="otherLinkColour">Point</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}class-region.html?product=dbr&repoType=mobile" class="otherLinkColour">Region</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}class-torch-button.html?product=dbr&repoType=mobile" class="otherLinkColour">TorchButton</a></li>
            </ul>
        </li>
        <li lang="cordova" ><a style="cursor:pointer;color:#3c3c3c">Enumerations</a>
            <ul lang="cordova" >
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-barcode-colour-mode.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumBarcodeColourMode</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-barcode-complement-mode.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumBarcodeComplementMode</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-barcode-format.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumBarcodeFormat</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-barcode-format2.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumBarcodeFormat_2</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-binarization-mode.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumBinarizationMode</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-camera-position.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumCameraPosition</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-colour-clustering-mode.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumColourClusteringMode</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-colour-coversion-mode.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumColourConversionMode</a></li>                        
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-dbr-preset-template.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumDBRPresetTemplate</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-deblur-mode.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumDeblurMode</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-deformation-resisting-mode.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumDeformationResistingMode</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-dpm-code-reading-mode.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumDPMCodeReadingMode</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-grayscale-transformation-mode.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumGrayscaleTransformationMode</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-image-preprocessing-mode.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumImagePreprocessingMode</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-localization-mode.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumLocalizationMode</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-region-predetection-mode.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumRegionPredetectionMode</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-scaleup-mode.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumScaleUpMode</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-text-filter-mode.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumTextFilterMode</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-text-result-order-mode.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumTextResultOrderMode</a></li>
                <li lang="cordova" ><a href="{{ site.cordova_api }}enum-texture-detection-mode.html?product=dbr&repoType=mobile" class="otherLinkColour">EnumTextureDetectionMode </a></li>
            </ul>
        </li>
    </ul>
</li>

<li lang="cordova" class="category">USEFUL RESOURCES</li>

<li lang="cordova" ><a href="{{ site.cordova }}release-notes/index.html?product=dbr&repoType=mobile" class="otherLinkColour">Release Notes</a>
    <ul lang="cordova" >
        <li lang="cordova" ><a href="{{ site.cordova_release_notes }}cordova-9.html?product=dbr&repoType=mobile" class="otherLinkColour">Version 9.x</a></li>
        <li lang="cordova" ><a href="{{ site.cordova_release_notes }}cordova-8.html?product=dbr&repoType=mobile" class="otherLinkColour">Version 8.x</a></li>
        <li lang="cordova" ><a href="{{ site.cordova_release_notes }}cordova-7.html?product=dbr&repoType=mobile" class="otherLinkColour">Version 7.6.1 and below</a></li>
    </ul>
</li>
<li lang="cordova" ><a style="cursor:pointer;color:#3c3c3c">Upgrade Instructions</a>
    <ul lang="cordova" >
        <li lang="cordova" ><a href="{{ site.cordova }}upgrade-to-9.x.html?product=dbr&repoType=mobile" class="otherLinkColour">Upgrade to 9.x</a></li>
        <li lang="cordova" ><a href="{{ site.cordova }}upgrade.html?product=dbr&repoType=mobile" class="otherLinkColour">Upgrade to 8.x</a></li>
    </ul>
</li>
<li lang="cordova"  class="category">OTHERS</li>
<li lang="cordova" ><a target="_blank" href="{{ site.oc }}" class="otherLinkColour refreshLink">Develop for iOS</a></li>
<li lang="cordova" ><a target="_blank" href="{{ site.android }}" class="otherLinkColour refreshLink">Develop for Android</a></li>
<li lang="cordova" ><a target="_blank" href="{{ site.flutter }}" class="otherLinkColour refreshLink">Develop for Flutter</a></li>
<li lang="cordova" ><a target="_blank" href="{{ site.react_native }}" class="otherLinkColour refreshLink">Develop for React Native</a></li>
<li lang="cordova" ><a target="_blank" href="{{ site.xamarin }}" class="otherLinkColour refreshLink">Develop for Xamarin.Forms</a></li>
