<li lang="objectivec-swift" class="category">DEVELOPMENT ON IOS</li>
<li lang="objectivec-swift"><a href="{{ site.oc }}user-guide.html" class="otherLinkColour">User Guide</a></li>
<li lang="objectivec-swift"><a href="{{ site.oc_api }}index.html" class="otherLinkColour">API Reference</a>
    <ul lang="objectivec-swift">
        <li lang="objectivec-swift"><a href="{{ site.oc_api }}primary-index.html" class="otherLinkColour">DynamsoftBarcodeReader Class</a>
            <ul lang="objectivec-swift">
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}primary-initialize.html" class="otherLinkColour">Initialization and Destroy</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}primary-decode.html" class="otherLinkColour">Decode Methods</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}primary-license.html" class="otherLinkColour">License Methods</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}primary-parameter-and-runtime-settings-advanced.html" class="otherLinkColour">Parameter and Runtime Settings Advanced Methods</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}primary-parameter-and-runtime-settings-basic.html" class="otherLinkColour">Parameter and Runtime Settings Basic Methods</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}primary-result.html" class="otherLinkColour">Result Methods</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}primary-video.html" class="otherLinkColour">Video Methods</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-index.html" class="otherLinkColour">Auxiliary Classes</a>
            <ul lang="objectivec-swift">
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iDMDLSConnectionParameters.html" class="otherLinkColour">License Activation Class</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-common-classes.html" class="otherLinkColour">Common Classes</a>
                    <ul lang="objectivec-swift">
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iDBRPoint.html" class="otherLinkColour">iDBRPoint</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iQuadrilateral.html" class="otherLinkColour">iQuadrilateral</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iRegionDefinition.html" class="otherLinkColour">iRegionDefinition</a></li>
                    </ul>
                </li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-parameter-index.html" class="otherLinkColour">Parameter Configuration</a>
                    <ul lang="objectivec-swift">
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iPublicRuntimeSettings.html" class="otherLinkColour">iPublicRuntimeSettings</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iFurtherModes.html" class="otherLinkColour">iFurtherModes</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iFrameDecodingParameters.html" class="otherLinkColour">iFrameDecodingParameters</a></li>
                    </ul>
                </li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-textresult-index.html" class="otherLinkColour">Barcode Result Classes</a>
                    <ul lang="objectivec-swift">
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iTextResult.html" class="otherLinkColour">iTextResult</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iLocalizationResult.html" class="otherLinkColour">iLocalizationResult</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iExtendedResult.html" class="otherLinkColour">iExtendedResult</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iAztecDetails.html" class="otherLinkColour">iAztecDetails</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iDataMatrixDetails.html" class="otherLinkColour">iDataMatrixDetails</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iOneDCodeDetails.html" class="otherLinkColour">iOneDCodeDetails</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iPDF417Details.html" class="otherLinkColour">iPDF417Details</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iQRCodeDetails.html" class="otherLinkColour">iQRCodeDetails</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iSamplingImageData.html" class="otherLinkColour">iSamplingImageData</a></li>
                    </ul>
                </li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-intermediate-index.html" class="otherLinkColour">Intermediate Result Classes</a>
                    <ul lang="objectivec-swift">
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iIntermediateResult.html" class="otherLinkColour">iIntermediateResult</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iContour.html" class="otherLinkColour">iContour</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iImageData.html" class="otherLinkColour">iImageData</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iLineSegment.html" class="otherLinkColour">iLineSegment</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.oc_api }}auxiliary-iRegionOfInterest.html" class="otherLinkColour">iRegionOfInterest</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="objectivec-swift"><a style="cursor:pointer;color:#3c3c3c">Protocols</a>
            <ul lang="objectivec-swift">
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}protocol-dbrtextresultdelegate.html" class="otherLinkColour">DBRTextResultDelegate</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}protocol-dbrintermediateresultdelegate.html" class="otherLinkColour">DBRIntermediateResultDelegate</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}protocol-dbrerrordelegate.html" class="otherLinkColour">DBRErrorDelegate</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}protocol-dbrserverlicenseverificationdelegate.html" class="otherLinkColour">DBRServerLicenseVerificationDelegate</a></li>
                <li lang="objectivec-swift"><a href="{{ site.oc_api }}protocol-dmdlslicenseverificationdelegate.html" class="otherLinkColour">DMLTSLicenseVerificationDelegate</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift" ><a style="cursor:pointer;color:#3c3c3c">Enumerations</a>
            <ul lang="objectivec-swift" >
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}barcode-colour-mode.html?lang=objc,swift" class="otherLinkColour">EnumBarcodeColourMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}barcode-complement-mode.html?lang=objc,swift" class="otherLinkColour">EnumBarcodeComplementMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}barcode-format.html?lang=objc,swift" class="otherLinkColour">EnumBarcodeFormat</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}barcode-format2.html?lang=objc,swift" class="otherLinkColour">EnumBarcodeFormat_2</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}binarization-mode.html?lang=objc,swift" class="otherLinkColour">EnumBinarizationMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}colour-clustering-mode.html?lang=objc,swift" class="otherLinkColour">EnumColourClusteringMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}colour-conversion-mode.html?lang=objc,swift" class="otherLinkColour">EnumColourConversionMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}conflict-mode.html?lang=objc,swift" class="otherLinkColour">EnumConflictMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}deblur-mode.html?lang=objc,swift" class="otherLinkColour">EnumDeblurMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}deformation-resisting-mode.html?lang=objc,swift" class="otherLinkColour">EnumDeformationResistingMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}dpm-code-reading-mode.html?lang=objc,swift" class="otherLinkColour">EnumDPMCodeReadingMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}grayscale-transformation-mode.html?lang=objc,swift" class="otherLinkColour">EnumGrayscaleTransformationMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}im-result-data-type.html?lang=objc,swift" class="otherLinkColour">EnumIMResultDataType</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}image-pixel-format.html?lang=objc,swift" class="otherLinkColour">EnumImagePixelFormat</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}image-preprocessing-mode.html?lang=objc,swift" class="otherLinkColour">EnumImagePreprocessingMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}intermediate-result-saving-mode.html?lang=objc,swift" class="otherLinkColour">EnumIntermediateResultSavingMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}intermediate-result-type.html?lang=objc,swift" class="otherLinkColour">EnumIntermediateResultType</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}localization-mode.html?lang=objc,swift" class="otherLinkColour">EnumLocalizationMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}pdf-reading-mode.html?lang=objc,swift" class="otherLinkColour">EnumPDFReadingMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}qr-code-error-correction-level.html?lang=objc,swift" class="otherLinkColour">EnumQRCodeErrorCorrectionLevel</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}region-predetection-mode.html?lang=objc,swift" class="otherLinkColour">EnumRegionPredetectionMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}result-coordinate-type.html?lang=objc,swift" class="otherLinkColour">EnumResultCoordinateType</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}result-type.html?lang=objc,swift" class="otherLinkColour">EnumResultType</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}scale-up-mode.html?lang=objc,swift" class="otherLinkColour">EnumScaleUpMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}terminate-phase.html?lang=objc,swift" class="otherLinkColour">EnumTerminatePhase</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}text-filter-mode.html?lang=objc,swift" class="otherLinkColour">EnumTextFilterMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}text-result-order-mode.html?lang=objc,swift" class="otherLinkColour">EnumTextResultOrderMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}texture-detection-mode.html?lang=objc,swift" class="otherLinkColour">EnumTextureDetectionMode</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.mobile_enum }}error-code.html?lang=objc,swift" class="otherLinkColour">Error Code</a></li>
            </ul>
        </li>          
    </ul>
</li>
<li lang="objectivec-swift" class="category">USEFUL RESOURCES</li>
<li lang="objectivec-swift"><a href="{{ site.oc_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul lang="objectivec-swift">
        <li lang="objectivec-swift"><a href="{{ site.oc_release_notes }}ios-8.html" class="otherLinkColour">Version 8.x</a></li>
        <li lang="objectivec-swift"><a href="{{ site.oc_release_notes }}ios-7.html" class="otherLinkColour">Version 7.6 and below</a></li>
    </ul>
</li>

<li lang="objectivec-swift" class="category">OTHERS</li>
<li lang="objectivec-swift"><a target="_blank" href="{{ site.android }}" class="otherLinkColour refreshLink">Develop for Android</a></li>