<li lang="android" class="category">DEVELOPMENT ON ANDROID</li>

<li lang="android"><a href="{{ site.android }}user-guide/index.html" class="otherLinkColour">User Guide</a>
    <ul lang="android">
        <li lang="android"><a href="{{ site.android }}user-guide.html" class="otherLinkColour">Getting Started</a> </li>

        <li lang="android"><a href="{{ site.android }}user-guide/explore-features/index.html"
                class="otherLinkColour">Explore Features</a>
            <ul lang="android">
                <li lang="android"><a class="otherLinkColour">Basic Features</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.features }}barcode-formats-and-count.html?lang=android"
                                class="otherLinkColour">Specify barcode formats and count</a></li>
                        <li lang="android"><a href="{{ site.features }}read-different-source.html?lang=android"
                                class="otherLinkColour">Read barcode from image</a></li>
                        <li lang="android"><a href="{{ site.features }}read-video-streaming-mobile.html?lang=android"
                                class="otherLinkColour">Read barcode from video streaming</a></li>
                        <li lang="android"><a href="{{ site.features }}barcode-scan-region-mobile.html?lang=android"
                                class="otherLinkColour">Read a specific area/region</a></li>
                        <li lang="android"><a href="{{ site.android }}ui-configurations.html"
                                class="otherLinkColour">Customize the UI</a></li>
                    </ul>
                </li>
                <li lang="android"><a class="otherLinkColour">Handle Different Scenarios</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.features }}read-inverted-barcodes.html?lang=android"
                                class="otherLinkColour">Read inverted barcodes</a></li>
                        <li lang="android"><a href="{{ site.features }}read-deformed-barcodes.html?lang=android"
                                class="otherLinkColour">Read deformed barcodes</a></li>
                        <li lang="android"><a href="{{ site.features }}read-incomplete-barcodes.html?lang=android"
                                class="otherLinkColour">Read incomplete barcodes</a></li>
                        <li lang="android"><a href="{{ site.features }}read-a-large-image.html?lang=android"
                                class="otherLinkColour">Read barcodes from a large image</a></li>
                        <li lang="android"><a
                                href="{{ site.features }}read-barcodes-with-small-moduleSize.html?lang=android"
                                class="otherLinkColour">Read barcodes with small module size</a></li>
                        <li lang="android"><a
                                href="{{ site.features }}read-barcodes-with-imbalanced-colour.html?lang=android"
                                class="otherLinkColour">Read images with imbalanced colors</a></li>
                        <li lang="android"><a
                                href="{{ site.features }}read-barcodes-with-uneven-lighting.html?lang=android"
                                class="otherLinkColour">Read images with uneven lighting</a></li>
                        <li lang="android"><a href="{{ site.features }}read-images-with-texture.html?lang=android"
                                class="otherLinkColour">Read images with texture</a></li>
                        <li lang="android"><a href="{{ site.features }}read-images-with-lots-of-text.html?lang=android"
                                class="otherLinkColour">Read images with lots of text</a></li>
                        <li lang="android"><a href="{{ site.features }}read-dense-barcodes.html?lang=android"
                                class="otherLinkColour">Read high-density QR Codes</a></li>
                        <li lang="android"><a href="{{ site.features }}preprocess-images.html?lang=android"
                                class="otherLinkColour">Preprocess images to read difficult barcodes</a></li>
                    </ul>
                </li>
                <li lang="android"><a class="otherLinkColour">Barcode Results</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.features }}get-confidence-rotation.html?lang=android"
                                class="otherLinkColour">Get barcode confidence and rotation</a></li>
                        <li lang="android"><a href="{{ site.features }}get-barcode-location.html?lang=android"
                                class="otherLinkColour">Get barcode location</a></li>
                        <li lang="android"><a href="{{ site.features }}get-detailed-info.html?lang=android"
                                class="otherLinkColour">Get detailed barcode information</a></li>
                        <li lang="android"><a href="{{ site.features }}filter-and-sort.html?lang=android"
                                class="otherLinkColour">Filter and sort decoding results</a></li>
                        <li lang="android"><a href="{{ site.features }}use-intermidiate-results.html?lang=android"
                                class="otherLinkColour">Use intermediate results</a></li>
                    </ul>
                </li>
                <li lang="android"><a class="otherLinkColour">Advanced Features</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.features }}control-terminate-phase.html?lang=android"
                                class="otherLinkColour">Control when to terminate a decoding process</a></li>
                        <li lang="android"><a
                                href="{{ site.features }}use-runtimesettings-or-templates.html?lang=android"
                                class="otherLinkColour">Use RuntimeSettings or Templates</a></li>
                        <li lang="android"><a
                                href="{{ site.features }}use-format-specific-configuration.html?lang=android"
                                class="otherLinkColour">Use format specific configurations</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="android"><a href="{{ site.android }}user-guide/use-cases/index.html" class="otherLinkColour">Check Use
                Cases</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.usecases }}read-dpm-codes.html?lang=android"
                        class="otherLinkColour">Read DPM codes</a></li>
                <li lang="android"><a href="{{ site.usecases }}read-postal-codes.html?lang=android"
                        class="otherLinkColour">Read Postal codes</a></li>
            </ul>
        </li>
        <li lang="android"><a href="{{ site.android }}quick-performance-settings.html" class="otherLinkColour">Optimize
                Performance</a></li>
    </ul>
</li>
<li lang="android"><a href="{{ site.android }}samples/index.html" class="otherLinkColour">Demo & Samples</a>
    <ul lang="android">
        <li lang="android"><a href="{{ site.android }}samples/helloworld.html" class="otherLinkColour">HelloWorld</a>
        </li>
        <li lang="android"><a href="{{ site.android }}samples/general.html" class="otherLinkColour">GeneralSettings</a>
        </li>
        <li lang="android"><a href="{{ site.android }}samples/performance.html"
                class="otherLinkColour">PerformanceSettings</a></li>
        <li lang="android"><a href="{{ site.android }}samples/drivers-license.html"
                class="otherLinkColour">ReadADriversLicense</a></li>
        <li lang="android"><a href="{{ site.android }}samples/no-camera-enhancer.html"
                class="otherLinkColour">DecodeWithCameraX</a></li>
        <li lang="android"><a href="{{ site.android }}samples/tiny-barcode.html"
                class="otherLinkColour">TinyBarcodeDecoding</a></li>
    </ul>
</li>
<li lang="android"><a href="{{ site.android_api }}index.html" class="otherLinkColour">API Reference</a>
    <ul lang="android">
        <li lang="android"><a href="{{ site.android_api }}primary-index.html" class="otherLinkColour">BarcodeReader
                Class</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.android_api }}primary-initialize-and-destroy.html"
                        class="otherLinkColour">Initialization and Destroy</a></li>
                <li lang="android"><a href="{{ site.android_api }}primary-video.html" class="otherLinkColour">Video
                        Decoding Methods</a></li>
                <li lang="android"><a href="{{ site.android_api }}primary-decode.html" class="otherLinkColour">Image
                        Decoding Methods</a></li>
                <li lang="android"><a href="{{ site.android_api }}primary-license.html" class="otherLinkColour">License
                        Methods</a></li>
                <li lang="android"><a href="{{ site.android_api }}primary-parameter-and-runtime-settings-basic.html"
                        class="otherLinkColour">Parameter and Runtime Settings Basic Methods</a></li>
                <li lang="android"><a href="{{ site.android_api }}primary-parameter-and-runtime-settings-advanced.html"
                        class="otherLinkColour">Parameter and Runtime Settings Advanced Methods</a></li>
                <li lang="android"><a href="{{ site.android_api }}primary-result.html" class="otherLinkColour">Result
                        Methods</a></li>
                <li lang="android"><a href="{{ site.android_api }}primary-status-retrieval.html"
                        class="otherLinkColour">Status Retrieval Methods</a></li>
            </ul>
        </li>
        <li lang="android"><a href="{{ site.android_api }}auxiliary-index.html" class="otherLinkColour">Auxiliary
                Classes</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.android_api }}auxiliary-common-classes.html"
                        class="otherLinkColour">Common Classes</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-Point.html"
                                class="otherLinkColour">Point</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-Quadrilateral.html"
                                class="otherLinkColour">Quadrilateral</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-RegionDefinition.html"
                                class="otherLinkColour">RegionDefinition</a></li>
                    </ul>
                </li>
                <li lang="android"><a href="{{ site.android_api }}auxiliary-parameter-index.html"
                        class="otherLinkColour">Parameter Configuration</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-PublicRuntimeSettings.html"
                                class="otherLinkColour">PublicRuntimeSettings</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-FurtherModes.html"
                                class="otherLinkColour">FurtherModes</a></li>
                    </ul>
                </li>
                <li lang="android"><a href="{{ site.android_api }}auxiliary-textresult-index.html"
                        class="otherLinkColour">Barcode Result Classes</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-TextResult.html"
                                class="otherLinkColour">TextResult</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-LocalizationResult.html"
                                class="otherLinkColour">LocalizationResult</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-ExtendedResult.html"
                                class="otherLinkColour">ExtendedResult</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-AztecDetails.html"
                                class="otherLinkColour">AztecDetails</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-DataMatrixDetails.html"
                                class="otherLinkColour">DataMatrixDetails</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-OneDCodeDetails.html"
                                class="otherLinkColour">OneDCodeDetails</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-PDF417Details.html"
                                class="otherLinkColour">PDF417Details</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-QRCodeDetails.html"
                                class="otherLinkColour">QRCodeDetails</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-SamplingImageData.html"
                                class="otherLinkColour">SamplingImageData</a></li>
                    </ul>
                </li>
                <li lang="android"><a href="{{ site.android_api }}auxiliary-intermediate-index.html"
                        class="otherLinkColour">Intermediate Result Classes</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-IntermediateResult.html"
                                class="otherLinkColour">IntermediateResult</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-Contour.html"
                                class="otherLinkColour">Contour</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-ImageData.html"
                                class="otherLinkColour">ImageData</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-LineSegment.html"
                                class="otherLinkColour">LineSegment</a></li>
                        <li lang="android"><a href="{{ site.android_api }}auxiliary-RegionOfInterest.html"
                                class="otherLinkColour">RegionOfInterest</a></li>
                    </ul>
                </li>
                <li lang="android"><a href="{{ site.android_api }}auxiliary-BarcodeReaderException.html"
                        class="otherLinkColour">BarcodeReaderException</a></li>
            </ul>
        </li>
        <li lang="android"><a style="cursor:pointer;color:#3c3c3c">Interfaces</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.android_api }}interface-textresultcallback.html"
                        class="otherLinkColour">TextResultListener</a></li>
                <li lang="android"><a href="{{ site.android_api }}interface-intermediateresultcallback.html"
                        class="otherLinkColour">IntermediateResultListener</a></li>
                <li lang="android"><a href="{{ site.android_api }}interface-dbrlicenseverificationlistener.html"
                        class="otherLinkColour">DBRLicenseVerificationListener</a></li>
                <li lang="android"><a href="{{ site.android_api }}interface-imagesource.html"
                        class="otherLinkColour">ImageSource</a></li>
            </ul>
        </li>
        <li lang="android"><a class="otherLinkColour">Enumerations</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.mobile_enum }}barcode-colour-mode.html?lang=android"
                        class="otherLinkColour">EnumBarcodeColourMode</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}barcode-complement-mode.html?lang=android"
                        class="otherLinkColour">EnumBarcodeComplementMode</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}barcode-format.html?lang=android"
                        class="otherLinkColour">EnumBarcodeFormat</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}barcode-format2.html?lang=android"
                        class="otherLinkColour">EnumBarcodeFormat_2</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}binarization-mode.html?lang=android"
                        class="otherLinkColour">EnumBinarizationMode</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}colour-clustering-mode.html?lang=android"
                        class="otherLinkColour">EnumColourClusteringMode</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}colour-conversion-mode.html?lang=android"
                        class="otherLinkColour">EnumColourConversionMode</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}conflict-mode.html?lang=android"
                        class="otherLinkColour">EnumConflictMode</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}deblur-mode.html?lang=android"
                        class="otherLinkColour">EnumDeblurMode</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}deformation-resisting-mode.html?lang=android"
                        class="otherLinkColour">EnumDeformationResistingMode</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}dpm-code-reading-mode.html?lang=android"
                        class="otherLinkColour">EnumDPMCodeReadingMode</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}grayscale-transformation-mode.html?lang=android"
                        class="otherLinkColour">EnumGrayscaleTransformationMode</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}im-result-data-type.html?lang=android"
                        class="otherLinkColour">EnumIMResultDataType</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}image-pixel-format.html?lang=android"
                        class="otherLinkColour">EnumImagePixelFormat</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}image-preprocessing-mode.html?lang=android"
                        class="otherLinkColour">EnumImagePreprocessingMode</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}intermediate-result-saving-mode.html?lang=android"
                        class="otherLinkColour">EnumIntermediateResultSavingMode</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}intermediate-result-type.html?lang=android"
                        class="otherLinkColour">EnumIntermediateResultType</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}localization-mode.html?lang=android"
                        class="otherLinkColour">EnumLocalizationMode</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}pdf-reading-mode.html?lang=android"
                        class="otherLinkColour">EnumPDFReadingMode</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}preset-template.html?lang=android"
                        class="otherLinkColour">EnumPresetTemplate</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}qr-code-error-correction-level.html?lang=android"
                        class="otherLinkColour">EnumQRCodeErrorCorrectionLevel</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}region-predetection-mode.html?lang=android"
                        class="otherLinkColour">EnumRegionPredetectionMode</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}result-coordinate-type.html?lang=android"
                        class="otherLinkColour">EnumResultCoordinateType</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}result-type.html?lang=android"
                        class="otherLinkColour">EnumResultType</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}scale-up-mode.html?lang=android"
                        class="otherLinkColour">EnumScaleUpMode</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}terminate-phase.html?lang=android"
                        class="otherLinkColour">EnumTerminatePhase</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}text-filter-mode.html?lang=android"
                        class="otherLinkColour">EnumTextFilterMode</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}text-result-order-mode.html?lang=android"
                        class="otherLinkColour">EnumTextResultOrderMode</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}texture-detection-mode.html?lang=android"
                        class="otherLinkColour">EnumTextureDetectionMode</a></li>
                <li lang="android"><a href="{{ site.mobile_enum }}error-code.html?lang=android"
                        class="otherLinkColour">Error Code</a></li>
            </ul>
        </li>
    </ul>
</li>

<li lang="android" class="category">USEFUL RESOURCES</li>

<li lang="android"><a href="{{ site.android_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul lang="android">
        <li lang="android"><a href="{{ site.android_release_notes }}android-9.html" class="otherLinkColour">Version
                9.x</a></li>
        <li lang="android"><a href="{{ site.android_release_notes }}android-8.html" class="otherLinkColour">Version
                8.x</a></li>
        <li lang="android"><a href="{{ site.android_release_notes }}android-7.html" class="otherLinkColour">Version
                7.6.1 and below</a></li>
    </ul>
</li>
<li lang="android"><a style="cursor:pointer;color:#3c3c3c">Upgrade Instructions</a>
    <ul lang="android">
        <li lang="android"><a href="{{ site.android }}upgrade-to-9.x.html" class="otherLinkColour">Upgrade to 9.x</a>
        </li>
        <li lang="android"><a href="{{ site.android }}upgrade.html" class="otherLinkColour">Upgrade to 8.x</a></li>
    </ul>
</li>

<li lang="android"><a href="{{ site.android_faq }}" class="otherLinkColour">FAQ</a>
    <ul lang="android">
        <li lang="android"><a href="{{ site.android_faq }}disable-continuous-scanning.html" class="otherLinkColour">How
                do I disable the continuous barcode scanning feature and close the scanner view?</a></li>
        <li lang="android"><a href="{{ site.android_faq }}drivers-license-extraction.html" class="otherLinkColour">How
                is the driver's license sample able to extract the information into readable fields? Is DBR responsible
                for this function?</a></li>
        <li lang="android"><a href="{{ site.android_faq }}min-system-requirements.html" class="otherLinkColour">What are
                the minimum system requirements of DBR Android?</a></li>
        <li lang="android"><a href="{{ site.android_faq }}no-camera-enhancer.html" class="otherLinkColour">Can I use DBR
                Android without the Camera Enhancer module?</a></li>
        <li lang="android"><a href="{{ site.android_faq }}page-freeze.html" class="otherLinkColour">Why does it
                sometimes freeze when I enter the scan page?</a></li>
        <li lang="android"><a href="{{ site.android_faq }}reduce-battery-consumption.html" class="otherLinkColour">How
                to reduce battery consumption when using the Barcode Reader?</a></li>
        <li lang="android"><a href="{{ site.android_faq }}reduce-final-size.html" class="otherLinkColour">How do you
                reduce the final size of the Android app?</a></li>
        <li lang="android"><a href="{{ site.android_faq }}sdk-size.html" class="otherLinkColour">What is the size of the
                SDK?</a></li>
        <li lang="android"><a href="{{ site.android_faq }}simulator-support.html" class="otherLinkColour">Does DBR
                Android support simulator devices?</a></li>
        <li lang="android"><a href="{{ site.android_faq }}template-support.html" class="otherLinkColour">On the Barcode
                Scanner X demo app, there's several modes made for specific use cases, including one for driver
                licenses. How can I configure my app to do the same?</a></li>
        <li lang="android"><a href="{{ site.android_faq }}third-party-frames-html" class="otherLinkColour">Can DBR
                Mobile work with third-party frameworks such as Xamarin, React Native, Flutter and Cordova?</a></li>
        <li lang="android"><a href="{{ site.android_faq }}troubleshooting-failed-image.html" class="otherLinkColour">My
                barcode is not being picked up using the Barcode Scanner X app. Does this mean that your SDK cannot read
                the image?</a></li>
        <li lang="android"><a href="{{ site.android_faq }}debug-mode-barcodescannerx.html" class="otherLinkColour">How
                to use debug mode in BarcodeScannerX?</a></li>
    </ul>
</li>
<!-- <li lang="android" ><a href="{{ site.faq_android }}" class="otherLinkColour">FAQ</a>
</li> -->

<li lang="android" class="category">OTHERS</li>
<li lang="android"><a target="_blank" href="{{ site.oc }}" class="otherLinkColour refreshLink">Develop for iOS</a></li>
<li lang="android"><a target="_blank"
        href="https://www.dynamsoft.com/capture-vision/docs/programming/react-native/?ver=latest"
        class="otherLinkColour refreshLink">Develop for React Native</a></li>
<li lang="android"><a target="_blank"
        href="https://www.dynamsoft.com/capture-vision/docs/programming/flutter/?ver=latest"
        class="otherLinkColour refreshLink">Develop for Flutter</a></li>
<li lang="android"><a target="_blank"
        href="https://www.dynamsoft.com/capture-vision/docs/programming/xamarin/?ver=latest"
        class="otherLinkColour refreshLink">Develop for Xamarin.Forms</a></li>
<li lang="android"><a target="_blank"
        href="https://www.dynamsoft.com/capture-vision/docs/programming/cordova/?ver=latest"
        class="otherLinkColour refreshLink">Develop for Cordova</a></li>