<li lang="flutter" class="category">DEVELOPMENT ON FLUTTER</li>

<li lang="flutter" ><a style="cursor:pointer;color:#3c3c3c">User Guide</a>
    <ul lang="flutter" >
        <li lang="flutter" ><a href="{{ site.flutter }}user-guide/barcode-reader.html" class="otherLinkColour">Getting Started</a> </li>
        <!-- <li lang="flutter" ><a href="{{ site.flutter }}user-guide/explore-features/index.html" class="otherLinkColour">Explore Features</a>
            <ul lang="flutter" >
                <li lang="flutter" ><a class="otherLinkColour">Basic Features</a>
                    <ul lang="flutter" >
                        <li lang="flutter" ><a href="{{ site.features }}barcode-formats-and-count.html?lang=android" class="otherLinkColour">Specify barcode formats and count</a></li>
                        <li lang="flutter" ><a href="{{ site.features }}read-different-source.html?lang=android" class="otherLinkColour">Read barcode from image</a></li>
                        <li lang="flutter" ><a href="{{ site.features }}read-video-streaming-mobile.html?lang=android" class="otherLinkColour">Read barcode from video streaming</a></li>
                        <li lang="flutter" ><a href="{{ site.features }}barcode-scan-region-mobile.html?lang=android" class="otherLinkColour">Read a specific area/region</a></li>
                        <li lang="flutter" ><a href="{{ site.flutter }}ui-configurations.html" class="otherLinkColour">Customize the UI</a></li>
                    </ul>
                </li>
                <li lang="flutter" ><a class="otherLinkColour">Handle Different Scenarios</a>
                    <ul lang="flutter" >
                        <li lang="flutter" ><a href="{{ site.features }}read-inverted-barcodes.html?lang=android" class="otherLinkColour">Read inverted barcodes</a></li>
                        <li lang="flutter" ><a href="{{ site.features }}read-deformed-barcodes.html?lang=android" class="otherLinkColour">Read deformed barcodes</a></li>
                        <li lang="flutter" ><a href="{{ site.features }}read-incomplete-barcodes.html?lang=android" class="otherLinkColour">Read incomplete barcodes</a></li>
                        <li lang="flutter" ><a href="{{ site.features }}read-a-large-image.html?lang=android" class="otherLinkColour">Read barcodes from a large image</a></li>
                        <li lang="flutter" ><a href="{{ site.features }}read-barcodes-with-small-moduleSize.html?lang=android" class="otherLinkColour">Read barcodes with small module size</a></li>
                        <li lang="flutter" ><a href="{{ site.features }}read-barcodes-with-imbalanced-colour.html?lang=android" class="otherLinkColour">Read images with imbalanced colors</a></li>
                        <li lang="flutter" ><a href="{{ site.features }}read-barcodes-with-uneven-lighting.html?lang=android" class="otherLinkColour">Read images with uneven lighting</a></li>
                        <li lang="flutter" ><a href="{{ site.features }}read-images-with-texture.html?lang=android" class="otherLinkColour">Read images with texture</a></li>
                        <li lang="flutter" ><a href="{{ site.features }}read-images-with-lots-of-text.html?lang=android" class="otherLinkColour">Read images with lots of text</a></li>
                        <li lang="flutter" ><a href="{{ site.features }}read-dense-barcodes.html?lang=android" class="otherLinkColour">Read high-density QR Codes</a></li>
                        <li lang="flutter" ><a href="{{ site.features }}preprocess-images.html?lang=android" class="otherLinkColour">Preprocess images to read difficult barcodes</a></li>
                    </ul>
                </li>
                <li lang="flutter" ><a class="otherLinkColour">Barcode Results</a>
                    <ul lang="flutter" >
                        <li lang="flutter" ><a href="{{ site.features }}get-confidence-rotation.html?lang=android" class="otherLinkColour">Get barcode confidence and rotation</a></li>
                        <li lang="flutter" ><a href="{{ site.features }}get-barcode-location.html?lang=android" class="otherLinkColour">Get barcode location</a></li>
                        <li lang="flutter" ><a href="{{ site.features }}get-detailed-info.html?lang=android" class="otherLinkColour">Get detailed barcode information</a></li>
                        <li lang="flutter" ><a href="{{ site.features }}filter-and-sort.html?lang=android" class="otherLinkColour">Filter and sort decoding results</a></li>
                        <li lang="flutter" ><a href="{{ site.features }}use-intermidiate-results.html?lang=android" class="otherLinkColour">Use intermediate results</a></li>
                    </ul>
                </li>
                <li lang="flutter" ><a class="otherLinkColour">Advanced Features</a>
                    <ul lang="flutter" >
                        <li lang="flutter" ><a href="{{ site.features }}control-terminate-phase.html?lang=android" class="otherLinkColour">Control when to terminate a decoding process</a></li>
                        <li lang="flutter" ><a href="{{ site.features }}use-runtimesettings-or-templates.html?lang=android" class="otherLinkColour">Use RuntimeSettings or Templates</a></li>
                        <li lang="flutter" ><a href="{{ site.features }}use-format-specific-configuration.html?lang=android" class="otherLinkColour">Use format specific configurations</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="flutter" ><a href="{{ site.flutter }}user-guide/use-cases/index.html" class="otherLinkColour">Check Use Cases</a>
            <ul lang="flutter" >
                <li lang="flutter" ><a href="{{ site.usecases }}read-dpm-codes.html?lang=android" class="otherLinkColour">Read DPM codes</a></li>
                <li lang="flutter" ><a href="{{ site.usecases }}read-postal-codes.html?lang=android" class="otherLinkColour">Read Postal codes</a></li>
            </ul>
        </li>
        <li lang="flutter" ><a href="{{ site.flutter }}quick-performance-settings.html" class="otherLinkColour">Optimize Performance</a></li> -->
    </ul>
</li>
<!-- <li lang="flutter" ><a href="{{ site.flutter }}samples/index.html" class="otherLinkColour">Demo & Samples</a>
    <ul lang="flutter" >
        <li lang="flutter" ><a href="{{ site.flutter }}samples/helloworld.html" class="otherLinkColour">HelloWorld</a></li>
        <li lang="flutter" ><a href="{{ site.flutter }}samples/general.html" class="otherLinkColour">GeneralSettings</a></li>
        <li lang="flutter" ><a href="{{ site.flutter }}samples/performance.html" class="otherLinkColour">PerformanceSettings</a></li>
        <li lang="flutter" ><a href="{{ site.flutter }}samples/drivers-license.html" class="otherLinkColour">ReadADriversLicense</a></li>
        <li lang="flutter" ><a href="{{ site.flutter }}samples/no-camera-enhancer.html" class="otherLinkColour">DecodeWithCameraX</a></li>
        <li lang="flutter" ><a href="{{ site.flutter }}samples/tiny-barcode.html" class="otherLinkColour">TinyBarcodeDecoding</a></li>
        <li lang="flutter" ><a href="{{ site.flutter }}samples/image-decoding.html" class="otherLinkColour">ImageDecoding</a></li>
    </ul>
</li> -->
<li><a href="{{ site.flutter-api }}" class="otherLinkColour">API references</a>
    <ul>
        <li><a href="{{ site.flutter-api }}barcode-reader.html" class="otherLinkColour">DCVBarcodeReader Class</a></li>
        <li><a href="{{ site.flutter-api }}camera-enhancer.html" class="otherLinkColour">DCVCameraEnhancer Class</a></li>
        <li><a href="{{ site.flutter-api }}camera-view.html" class="otherLinkColour">DCVCameraView Class</a></li>
        <li><a style="cursor:pointer;color:#3c3c3c">Auxiliary Classes</a>
            <ul>
                <li><a href="{{ site.flutter-api }}class-dbr-runtime-settings.html" class="otherLinkColour">DBRRuntimeSettings</a></li>
                <li><a href="{{ site.flutter-api }}class-barcode-result.html" class="otherLinkColour">BarcodeResult</a></li>
                <li><a href="{{ site.flutter-api }}class-barcode-location-result.html" class="otherLinkColour">BarcodeLocationResult</a></li>
                <li><a href="{{ site.flutter-api }}class-further-modes.html" class="otherLinkColour">FurtherModes</a></li>
                <li><a href="{{ site.flutter-api }}class-quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                <li><a href="{{ site.flutter-api }}class-point.html" class="otherLinkColour">Point</a></li>
                <li><a href="{{ site.flutter-api }}class-region.html" class="otherLinkColour">Region</a></li>
                <li><a href="{{ site.flutter-api }}class-torch-button.html" class="otherLinkColour">TorchButton</a></li>
            </ul>
        </li>
        <li><a style="cursor:pointer;color:#3c3c3c">Enumerations</a>
            <ul>
                <li><a href="{{ site.flutter-api }}enum-barcode-colour-mode.html" class="otherLinkColour">EnumBarcodeColourMode</a></li>
                <li><a href="{{ site.flutter-api }}enum-barcode-complement-mode.html" class="otherLinkColour">EnumBarcodeComplementMode</a></li>
                <li><a href="{{ site.flutter-api }}enum-barcode-format.html" class="otherLinkColour">EnumBarcodeFormat</a></li>
                <li><a href="{{ site.flutter-api }}enum-barcode-format2.html" class="otherLinkColour">EnumBarcodeFormat_2</a></li>
                <li><a href="{{ site.flutter-api }}enum-binarization-mode.html" class="otherLinkColour">EnumBinarizationMode</a></li>
                <li><a href="{{ site.flutter-api }}enum-camera-position.html" class="otherLinkColour">EnumCameraPosition</a></li>
                <li><a href="{{ site.flutter-api }}enum-colour-clustering-mode.html" class="otherLinkColour">EnumColourClusteringMode</a></li>
                <li><a href="{{ site.flutter-api }}enum-colour-coversion-mode.html" class="otherLinkColour">EnumColourConversionMode</a></li>                        
                <li><a href="{{ site.flutter-api }}enum-dbr-preset-template.html" class="otherLinkColour">EnumDBRPresetTemplate</a></li>
                <li><a href="{{ site.flutter-api }}enum-deblur-mode.html" class="otherLinkColour">EnumDeblurMode</a></li>
                <li><a href="{{ site.flutter-api }}enum-deformation-resisting-mode.html" class="otherLinkColour">EnumDeformationResistingMode</a></li>
                <li><a href="{{ site.flutter-api }}enum-dpm-code-reading-mode.html" class="otherLinkColour">EnumDPMCodeReadingMode</a></li>
                <li><a href="{{ site.flutter-api }}enum-grayscale-transformation-mode.html" class="otherLinkColour">EnumGrayscaleTransformationMode</a></li>
                <li><a href="{{ site.flutter-api }}enum-image-preprocessing-mode.html" class="otherLinkColour">EnumImagePreprocessingMode</a></li>
                <li><a href="{{ site.flutter-api }}enum-localization-mode.html" class="otherLinkColour">EnumLocalizationMode</a></li>
                <li><a href="{{ site.flutter-api }}enum-region-predetection-mode.html" class="otherLinkColour">EnumRegionPredetectionMode</a></li>
                <li><a href="{{ site.flutter-api }}enum-scaleup-mode.html" class="otherLinkColour">EnumScaleUpMode</a></li>
                <li><a href="{{ site.flutter-api }}enum-text-filter-mode.html" class="otherLinkColour">EnumTextFilterMode</a></li>
                <li><a href="{{ site.flutter-api }}enum-text-result-order-mode.html" class="otherLinkColour">EnumTextResultOrderMode</a></li>
                <li><a href="{{ site.flutter-api }}enum-texture-detection-mode.html" class="otherLinkColour">EnumTextureDetectionMode </a></li>
            </ul>
        </li>
    </ul>
</li>

<li lang="flutter" class="category">USEFUL RESOURCES</li>

<li lang="flutter" ><a href="{{ site.flutter }}release-notes/index.html" class="otherLinkColour">Release Notes</a>
    <ul lang="flutter" >
        <li lang="flutter" ><a href="{{ site.flutter }}flutter-1.html" class="otherLinkColour">Version 2.x</a></li>
        <li lang="flutter" ><a href="{{ site.flutter }}flutter-1.html" class="otherLinkColour">Version 1.x</a></li>
    </ul>
</li>
<!-- <li lang="flutter" ><a style="cursor:pointer;color:#3c3c3c">Upgrade Instructions</a>
    <ul lang="flutter" >
        <li lang="flutter" ><a href="{{ site.flutter }}upgrade-to-9.x.html" class="otherLinkColour">Upgrade to 9.x</a></li>
        <li lang="flutter" ><a href="{{ site.flutter }}upgrade.html" class="otherLinkColour">Upgrade to 8.x</a></li>
    </ul>
</li> -->
<!-- 
<li lang="flutter" ><a href="{{ site.flutter_faq }}" class="otherLinkColour">FAQ</a>
    <ul lang="flutter" >
        <li lang="flutter" ><a href="{{ site.flutter_faq }}disable-continuous-scanning.html" class="otherLinkColour">How do I disable the continuous barcode scanning feature and close the scanner view?</a></li>
        <li lang="flutter" ><a href="{{ site.flutter_faq }}drivers-license-extraction.html" class="otherLinkColour">How is the driver's license sample able to extract the information into readable fields? Is DBR responsible for this function?</a></li>
        <li lang="flutter" ><a href="{{ site.flutter_faq }}min-system-requirements.html" class="otherLinkColour">What are the minimum system requirements of DBR Android?</a></li>
        <li lang="flutter" ><a href="{{ site.flutter_faq }}no-camera-enhancer.html" class="otherLinkColour">Can I use DBR Android without the Camera Enhancer module?</a></li>
        <li lang="flutter" ><a href="{{ site.flutter_faq }}page-freeze.html" class="otherLinkColour">Why does it sometimes freeze when I enter the scan page?</a></li>
        <li lang="flutter" ><a href="{{ site.flutter_faq }}reduce-battery-consumption.html" class="otherLinkColour">How to reduce battery consumption when using the Barcode Reader?</a></li>
        <li lang="flutter" ><a href="{{ site.flutter_faq }}reduce-final-size.html" class="otherLinkColour">How do you reduce the final size of the Android app?</a></li>
        <li lang="flutter" ><a href="{{ site.flutter_faq }}sdk-size.html" class="otherLinkColour">What is the size of the SDK?</a></li>
        <li lang="flutter" ><a href="{{ site.flutter_faq }}simulator-support.html" class="otherLinkColour">Does DBR Android support simulator devices?</a></li>
        <li lang="flutter" ><a href="{{ site.flutter_faq }}template-support.html" class="otherLinkColour">On the Barcode Scanner X demo app, there's several modes made for specific use cases, including one for driver licenses. How can I configure my app to do the same?</a></li>
        <li lang="flutter" ><a href="{{ site.flutter_faq }}third-party-frames-html" class="otherLinkColour">Can DBR Mobile work with third-party frameworks such as Xamarin, React Native, Flutter and Cordova?</a></li>
        <li lang="flutter" ><a href="{{ site.flutter_faq }}troubleshooting-failed-image.html" class="otherLinkColour">My barcode is not being picked up using the Barcode Scanner X app. Does this mean that your SDK cannot read the image?</a></li>
        <li lang="flutter" ><a href="{{ site.flutter_faq }}proguard.html" class="otherLinkColour">How to Prevent Project Build Failure after Shrinking Code?</a></li>
        <li lang="flutter" ><a href="{{ site.flutter_faq }}debug-mode-barcodescannerx.html" class="otherLinkColour">How to use debug mode in BarcodeScannerX?</a></li>
        <li lang="flutter" ><a href="{{ site.flutter_faq }}how-to-enable-qr-model-one.html" class="otherLinkColour">How to enable QR code Model 1 in BarcodeScannerX?</a></li>
        <li lang="flutter" ><a href="{{site.faq_general}}unprintable-character.html?lang=android" class="otherLinkColour">How to Handle Non-printable Characters Like "\u{1D}" or "{GS}" from the Barcode Text?</a></li>
    </ul>
</li> -->
<!-- <li lang="flutter" ><a href="{{ site.faq_android }}" class="otherLinkColour">FAQ</a>
</li> -->

<li lang="flutter"  class="category">OTHERS</li>
<li lang="flutter" ><a target="_blank" href="{{ site.android }}" class="otherLinkColour refreshLink">Develop for Android</a></li>
<li lang="flutter" ><a target="_blank" href="{{ site.oc }}" class="otherLinkColour refreshLink">Develop for iOS</a></li>
<li lang="flutter" ><a target="_blank" href="https://www.dynamsoft.com/capture-vision/docs/programming/react-native/?ver=latest" class="otherLinkColour refreshLink">Develop for React Native</a></li>
<li lang="flutter" ><a target="_blank" href="https://www.dynamsoft.com/capture-vision/docs/programming/xamarin/?ver=latest" class="otherLinkColour refreshLink">Develop for Xamarin.Forms</a></li>
<li lang="flutter" ><a target="_blank" href="https://www.dynamsoft.com/capture-vision/docs/programming/cordova/?ver=latest" class="otherLinkColour refreshLink">Develop for Cordova</a></li>
