<li lang="objectivec-swift" class="category">DEVELOPMENT ON IOS</li>

<li lang="objectivec-swift" ><a href="{{ site.oc }}user-guide/index.html" class="otherLinkColour">User Guide</a>
    <ul lang="objectivec-swift" >
        <li lang="objectivec-swift" ><a href="{{ site.oc }}user-guide.html" class="otherLinkColour">Getting Started</a> </li>

        <li lang="objectivec-swift" ><a href="{{ site.oc }}user-guide/explore-features/index.html" class="otherLinkColour">Explore Features</a>
            <ul lang="objectivec-swift" >
                <li lang="objectivec-swift" ><a class="otherLinkColour">Basic Features</a>
                    <ul lang="objectivec-swift" >
                        <li lang="objectivec-swift" ><a href="{{ site.features }}barcode-formats-and-count.html?lang=objc,swift" class="otherLinkColour">Specify barcode formats and count</a></li>
                        <!-- <li lang="objectivec-swift" ><a href="{{ site.features }}preprocess-images.html?lang=objc,swift" class="otherLinkColour">Read barcode from image</a></li> -->
                        <li lang="objectivec-swift" ><a href="{{ site.features }}read-video-streaming-mobile.html?lang=objc,swift" class="otherLinkColour">Read barcode from video streaming</a></li>
                        <li lang="objectivec-swift" ><a href="{{ site.features }}barcode-scan-region-mobile.html?lang=objc,swift" class="otherLinkColour">Read a specific area/region</a></li>
                        <li lang="objectivec-swift" ><a href="{{ site.oc }}ui-configurations.html" class="otherLinkColour">Customize the UI</a></li>
                    </ul>
                </li>
                <li lang="objectivec-swift" ><a class="otherLinkColour">Handle Different Scenarios</a>
                    <ul lang="objectivec-swift" >
                        <li lang="objectivec-swift" ><a href="{{ site.features }}read-inverted-barcodes.html?lang=objc,swift" class="otherLinkColour">Read inverted barcodes</a></li>
                        <li lang="objectivec-swift" ><a href="{{ site.features }}read-deformed-barcodes.html?lang=objc,swift" class="otherLinkColour">Read deformed barcodes</a></li>
                        <li lang="objectivec-swift" ><a href="{{ site.features }}read-incomplete-barcodes.html?lang=objc,swift" class="otherLinkColour">Read incomplete barcodes</a></li>
                        <li lang="objectivec-swift" ><a href="{{ site.features }}read-a-large-image.html?lang=objc,swift" class="otherLinkColour">Read barcodes from a large image</a></li>
                        <li lang="objectivec-swift" ><a href="{{ site.features }}read-barcodes-with-small-module-size.html?lang=objc,swift" class="otherLinkColour">Read barcodes with small module size</a></li>
                        <li lang="objectivec-swift" ><a href="{{ site.features }}read-barcodes-with-imbalanced-colour.html?lang=objc,swift" class="otherLinkColour">Read images with imbalanced colors</a></li>
                        <li lang="objectivec-swift" ><a href="{{ site.features }}read-barcodes-with-uneven-lighting.html?lang=objc,swift" class="otherLinkColour">Read images with uneven lighting</a></li>
                        <li lang="objectivec-swift" ><a href="{{ site.features }}read-images-with-texture.html?lang=objc,swift" class="otherLinkColour">Read images with texture</a></li>
                        <li lang="objectivec-swift" ><a href="{{ site.features }}read-images-with-lots-of-text.html?lang=objc,swift" class="otherLinkColour">Read images with lots of text</a></li>
                        <li lang="objectivec-swift" ><a href="{{ site.features }}read-dense-barcodes.html?lang=objc,swift" class="otherLinkColour">Read high-density QR Codes</a></li>
                        <li lang="objectivec-swift" ><a href="{{ site.features }}preprocess-images.html?lang=objc,swift" class="otherLinkColour">Preprocess images to read difficult barcodes</a></li>
                    </ul>
                </li>
                <li lang="objectivec-swift" ><a class="otherLinkColour">Barcode Results</a>
                    <ul lang="objectivec-swift" >
                        <li lang="objectivec-swift" ><a href="{{ site.features }}get-confidence-rotation.html?lang=objc,swift" class="otherLinkColour">Get barcode confidence and rotation</a></li>
                        <li lang="objectivec-swift" ><a href="{{ site.features }}get-barcode-location.html?lang=objc,swift" class="otherLinkColour">Get barcode location</a></li>
                        <li lang="objectivec-swift" ><a href="{{ site.features }}get-detailed-info.html?lang=objc,swift" class="otherLinkColour">Get detailed barcode information</a></li>
                        <li lang="objectivec-swift" ><a href="{{ site.features }}filter-and-sort.html?lang=objc,swift" class="otherLinkColour">Filter and sort decoding results</a></li>
                        <!-- <li lang="objectivec-swift" ><a href="{{ site.features }}use-intermidiate-results.html?lang=objc,swift" class="otherLinkColour">Use intermediate results</a></li> -->
                    </ul>
                </li>
                <li lang="objectivec-swift" ><a class="otherLinkColour">Advanced Features</a>
                    <ul lang="objectivec-swift" >
                        <!-- <li lang="objectivec-swift" ><a href="{{ site.features }}control-terminate-phase.html?lang=objc,swift" class="otherLinkColour">Control when to terminate a decoding process</a></li> -->
                        <li lang="objectivec-swift" ><a href="{{ site.features }}use-runtimesettings-or-templates.html?lang=objc,swift" class="otherLinkColour">Use RuntimeSettings or Templates</a></li>
                        <li lang="objectivec-swift" ><a href="{{ site.features }}use-format-specific-configuration.html?lang=objc,swift" class="otherLinkColour">Use format specific configurations</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="objectivec-swift" ><a href="{{ site.oc }}user-guide/use-cases/index.html" class="otherLinkColour">Check Use Cases</a>
            <ul lang="objectivec-swift" >
                <li lang="objectivec-swift" ><a href="{{ site.usecases }}read-dpm-codes.html?lang=objc,swift" class="otherLinkColour">Read DPM codes</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.usecases }}read-postal-codes.html?lang=objc,swift" class="otherLinkColour">Read Postal codes</a></li>
            </ul>
        </li>
        <!-- <li lang="objectivec-swift" ><a href="{{ site.oc }}quick-performance-settings.html" class="otherLinkColour">Optimize Performance</a></li> -->
    </ul>
</li>
<li lang="objectivec-swift"><a href="{{ site.oc }}samples/index.html" class="otherLinkColour">Demo &amp; Samples</a>
    <ul lang="objectivec-swift">
        <li lang="objectivec-swift" ><a class="otherLinkColour">HelloWorld</a>
            <ul lang="objectivec-swift" >
                <li lang="objectivec-swift" ><a href="{{ site.oc }}samples/helloworld.html" class="otherLinkColour">Decode from Video (CameraEnhancer)</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.oc }}samples/no-camera-enhancer.html" class="otherLinkColour">Decode from Video (AVCaptureSession)</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.oc }}samples/image-decoding.html" class="otherLinkColour">Decode from an Image</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift"><a href="{{ site.oc }}samples/general.html" class="otherLinkColour">General Settings</a></li>
        <li lang="objectivec-swift"><a href="{{ site.oc }}samples/performance.html" class="otherLinkColour">Performance Settings</a></li>
        <!-- <li lang="objectivec-swift"><a href="{{ site.oc }}samples/drivers-license.html" class="otherLinkColour">ReadADriversLicense</a></li> -->
        <li lang="objectivec-swift"><a href="{{ site.oc }}samples/tiny-barcode.html" class="otherLinkColour">Tiny Barcode Decoding</a></li>
    </ul>
</li>
<li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}" class="otherLinkColour">API Reference</a>
    <ul>
        <li><a href="{{ site.dcv_ios_api }}capture-vision-router/capture-vision-router.html" class="otherLinkColour">DSCaptureVisionRouter</a>
            <ul>
                <li><a href="{{ site.dcv_ios_api }}capture-vision-router/instantiate.html" class="otherLinkColour">Constructor and Destructor</a></li>
                <li><a href="{{ site.dcv_ios_api }}capture-vision-router/single-file-processing.html" class="otherLinkColour">Single-File Processing</a></li>
                <li><a href="{{ site.dcv_ios_api }}capture-vision-router/multiple-file-processing.html" class="otherLinkColour">Multiple-File Processing</a></li>
                <li><a href="{{ site.dcv_ios_api }}capture-vision-router/settings.html" class="otherLinkColour">Settings</a></li>
                <li><a href="{{ site.dcv_ios_api }}capture-vision-router/intermediate-result.html" class="otherLinkColour">Intermediate Result</a></li>
                <li><a href="{{ site.dcv_ios_api }}capture-vision-router/auxiliary-methods.html" class="otherLinkColour">Auxiliary</a></li>
            </ul>
        </li>
        <li><a>Input</a>
            <ul>
                <li><a href="{{ site.dcv_ios_api }}utility/directory-fetcher.html" class="otherLinkColour">DSDirectoryFetcher</a></li>
                <li><a href="{{ site.dcv_ios_api }}utility/file-fetcher.html" class="otherLinkColour">DSFileFetcher</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/basic-structures/image-source-adapter.html" class="otherLinkColour">DSImageSourceAdapter</a></li>
            </ul>
        </li>
        <li><a>Final Results</a>
            <ul>
                <li><a href="{{ site.dcv_ios_api }}core/basic-structures/captured-result-receiver.html">DSCapturedResultReceiver</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/basic-structures/captured-result.html" class="otherLinkColour">DSCapturedResult</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/basic-structures/captured-result-item.html" class="otherLinkColour">DSCapturedResultItem</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/basic-structures/original-image-result-item.html" class="otherLinkColour">DSOriginalImageResultItem</a></li>
                <li><a href="{{ site.dbr_ios_api }}barcode-result-item.html" class="otherLinkColour">DSBarcodeResultItem</a></li>
                <li><a href="{{ site.dbr_ios_api }}decoded-barcodes-result.html" class="otherLinkColour">DSDecodedBarcodesResult</a></li>
            </ul>
        </li>
        <li ><a>Final Results Filters</a>
            <ul>                
                <li><a href="{{ site.dcv_ios_api }}core/basic-structures/captured-result-filter.html" class="otherLinkColour">DSCapturedResultFilter</a></li>
                <li><a href="{{ site.dcv_ios_api }}utility/multi-frame-result-cross-filter.html" class="otherLinkColour">DSMultiFrameResultCrossFilter</a></li>
            </ul>
        </li>
        <li><a>Detailed Barcode Results</a>
            <ul>
                <li><a href="{{ site.dbr_ios_api }}auxiliary-iAztecDetails.html" class="otherLinkColour">DSAztecDetails</a></li>
                <li><a href="{{ site.dbr_ios_api }}barcode-details.html" class="otherLinkColour">DSBarcodeDetails</a></li>
                <li><a href="{{ site.dbr_ios_api }}auxiliary-iDataMatrixDetails.html" class="otherLinkColour">DSDataMatrixDetails</a></li>
                <li><a href="{{ site.dbr_ios_api }}auxiliary-iOnedCodeDetails.html" class="otherLinkColour">DSOneDCodeDetails</a></li>
                <li><a href="{{ site.dbr_ios_api }}auxiliary-iPDF417Details.html" class="otherLinkColour">DSPDF417Details</a></li>
                <li><a href="{{ site.dbr_ios_api }}auxiliary-iQRCodeDetails.html" class="otherLinkColour">DSQRCodeDetails</a></li>
            </ul>
        </li>
        <li><a>Intermediate Results</a>
            <ul>
                <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/intermediate-result-manager.html" class="otherLinkColour">IntermediateResultManager</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/intermediate-result-receiver.html" class="otherLinkColour">IntermediateResultReceiver</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/observed-parameters.html" class="otherLinkColour">ObservationParameters</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/structs/intermediate-result-extra-info.html" class="otherLinkColour">IntermediateResultExtraInfo</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/intermediate-result.html" class="otherLinkColour">IntermediateResult</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/intermediate-result-unit.html" class="otherLinkColour">IntermediateResultUnit</a></li>
                <li><a href="{{ site.dbr_ios_api }}decoded-barcodes-unit.html" class="otherLinkColour">DecodedBarcodesUnit</a></li>
                <li><a href="{{ site.dbr_ios_api }}localized-barcodes-unit.html" class="otherLinkColour">LocalizedBarcodesUnit</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/predetected-regions-unit.html" class="otherLinkColour">PredetectedRegionsUnit</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/region-object-element.html" class="otherLinkColour">RegionObjectElement</a></li>
                <li><a href="{{ site.dbr_ios_api }}decoded-barcode-element.html" class="otherLinkColour">DecodedBarcodeElement</a></li>
                <li><a href="{{ site.dbr_ios_api }}localized-barcode-element.html" class="otherLinkColour">LocalizedBarcodesElement</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/predetected-region-element.html" class="otherLinkColour">PredetectedRegionElement</a></li>
                <li><a>Others</a>
                    <ul>
                        <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/binary-image-unit.html" class="otherLinkColour">BinaryImageUnit</a></li>
                        <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/colour-image-unit.html" class="otherLinkColour">ColourImageUnit</a></li>
                        <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/contours-unit.html" class="otherLinkColour">ContoursUnit</a></li>
                        <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/enhanced-grayscale-image-unit.html" class="otherLinkColour">EnhancedGrayscaleImageUnit</a></li>
                        <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/grayscale-image-unit.html" class="otherLinkColour">GrayscaleImageUnit</a></li>
                        <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/line-segments-unit.html" class="otherLinkColour">CLineSegmentsUnit</a></li>
                        <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/scaled-down-colour-image-unit.html" class="otherLinkColour">ScaledDownColourImageUnit</a></li>
                        <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/text-removed-binary-image-unit.html" class="otherLinkColour">TextRemovedBinaryImageUnit</a></li>
                        <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/text-zones-unit.html" class="otherLinkColour">TextZonesUnit</a></li>
                        <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/texture-detection-result-unit.html" class="otherLinkColour">TextureDetectionResultUnit</a></li>
                        <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/texture-removed-binary-image-unit.html" class="otherLinkColour">TextureRemovedBinaryImageUnit</a></li>
                        <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/texture-removed-grayscale-image-unit.html" class="otherLinkColour">TextureRemovedGrayscaleImageUnit</a></li>
                        <li><a href="{{ site.dcv_ios_api }}core/intermediate-results/transformed-grayscale-image-unit.html" class="otherLinkColour">TransformedGrayscaleImageUnit</a></li>
                        <li><a href="{{ site.dbr_ios_api }}scaled-up-barcode-image-unit.html" class="otherLinkColour">ScaledUpBarcodeImageUnit</a></li>
                        <li><a href="{{ site.dbr_ios_api }}candidate-barcode-zones-unit.html" class="otherLinkColour">CandidateBarcodeZonesUnit</a></li>
                        <li><a href="{{ site.dbr_ios_api }}complemented-barcode-image-unit.html" class="otherLinkColour">ComplementedBarcodeImageUnit</a></li>
                        <li><a href="{{ site.dbr_ios_api }}deformation-resisted-barcode-image-unit.html" class="otherLinkColour">DeformationResistedBarcodeImageUnit</a></li>
                        <li><a href="{{ site.dbr_ios_api }}auxiliary-ExtendedResult.html" class="otherLinkColour">ExtendedBarcodeResult</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a>Settings</a>
            <ul>
                <li><a href="{{ site.dcv_ios_api }}capture-vision-router/structs/simplified-capture-vision-settings.html" class="otherLinkColour">SimplifiedCaptureVisionSettings</a></li>
                <li><a href="{{ site.dbr_ios_api }}simplified-barcode-reader-settings.html" class="otherLinkColour">SimplifiedBarcodeReaderSettings</a></li>
                <li><a href="{{ site.dcv_ios_api }}capture-vision-router/auxiliary-classes/preset-template.html" class="otherLinkColour">PresetTemplate</a></li>
            </ul>
        </li>
        <li><a>State Listener</a>
            <ul>
                <li><a href="{{ site.dcv_ios_api }}capture-vision-router/auxiliary-classes/capture-state-listener.html" class="otherLinkColour">CaptureStateListener</a></li>
                <li><a href="{{ site.dcv_ios_api }}capture-vision-router/auxiliary-classes/image-source-state-listener.html" class="otherLinkColour">ImageSourceStateListener</a></li>
            </ul>
        </li>
        <li><a href="{{ site.dcv_ios_api }}license/license-manager.html" class="otherLinkColour">LicenseManager</a></li>
        <li><a>Basic Structure</a>
            <ul>
                <li><a href="{{ site.dcv_ios_api }}core/basic-structures/contour.html" class="otherLinkColour">Contour</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/basic-structures/corner.html" class="otherLinkColour">Corner</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/basic-structures/edge.html" class="otherLinkColour">Edge</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/basic-structures/file-image-tag.html" class="otherLinkColour">FileImageTag</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/basic-structures/image-data.html" class="otherLinkColour">ImageData</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/basic-structures/image-tag.html" class="otherLinkColour">ImageTag</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/basic-structures/line-segment.html" class="otherLinkColour">LineSegment</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/basic-structures/pdf-reading-parameter.html" class="otherLinkColour">PDFReadingParameter</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/basic-structures/point.html" class="otherLinkColour">Point</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/basic-structures/quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/basic-structures/rect.html" class="otherLinkColour">Rect</a></li>
                <li><a href="{{ site.dcv_ios_api }}core/basic-structures/video-frame-tag.html" class="otherLinkColour">VideoFrameTag</a></li>
            </ul>
        </li>
        <li><a class="otherLinkColour">Enumerations</a>
            <ul>
                <li><a href="{{ site.dcv_enumerations }}barcode-reader/barcode-format.html?lang=objc&swift" class="otherLinkColour">BarcodeFormat</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/buffer-overflow-protection-mode.html?lang=objc&swift" class="otherLinkColour">BufferOverflowProtectionMode</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/captured-result-item-type.html?lang=objc&swift" class="otherLinkColour">CapturedResultItemType</a></li>
                <li><a href="{{ site.dcv_enumerations }}capture-vision-router/capture-state.html?lang=objc&swift" class="otherLinkColour">CaptureState</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/corner-type.html?lang=objc&swift" class="otherLinkColour">CornerType</a></li>
                <li><a href="{{ site.dcv_enumerations }}barcode-reader/deblur-mode.html?lang=objc&swift" class="otherLinkColour">DeblurMode</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/error-code.html?lang=objc&swift" class="otherLinkColour">ErrorCode</a></li>
                <li><a href="{{ site.dcv_enumerations }}barcode-reader/extended-barcode-result-type.html?lang=objc&swift" class="otherLinkColour">ExtendedBarcodeResultType</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/grayscale-enhancement-mode.html?lang=objc&swift" class="otherLinkColour">GrayscaleEnhancementMode</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/grayscale-transformation-mode.html?lang=objc&swift" class="otherLinkColour">GrayscaleTransformationMode</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/image-capture-distance-mode.html?lang=objc&swift" class="otherLinkColour">ImageCaptureDistanceMode</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/image-pixel-format.html?lang=objc&swift" class="otherLinkColour">ImagePixelFormat</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/image-source-state.html?lang=objc&swift" class="otherLinkColour">ImageSourceState</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/image-tag-type.html?lang=objc&swift" class="otherLinkColour">ImageTagType</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/intermediate-result-unit-type.html?lang=objc&swift" class="otherLinkColour">IntermediateResultUnitType</a></li>
                <li><a href="{{ site.dcv_enumerations }}barcode-reader/localization-mode.html?lang=objc&swift" class="otherLinkColour">LocalizationMode</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/pdf-reading-mode.html?lang=objc&swift" class="otherLinkColour">PDFReadingMode</a></li>
                <li><a href="{{ site.dcv_enumerations }}barcode-reader/qr-code-error-correction-level.html?lang=objc&swift" class="otherLinkColour">QRCodeErrorCorrectionLevel</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/raster-data-source.html?lang=objc&swift" class="otherLinkColour">RasterDataSource</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/region-object-element-type.html?lang=objc&swift" class="otherLinkColour">RegionObjectElementType</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/section-type.html?lang=objc&swift" class="otherLinkColour">SectionType</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/transform-matrix-type.html?lang=objc&swift" class="otherLinkColour">TransformMatrixType</a></li>
                <li><a href="{{ site.dcv_enumerations }}core/video-frame-quality.html?lang=objc&swift" class="otherLinkColour">VideoFrameQuality</a></li>
            </ul>
        </li>
    </ul>
</li>

<li lang="objectivec-swift" class="category">USEFUL RESOURCES</li>
<li lang="objectivec-swift"><a href="{{ site.oc_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul lang="objectivec-swift">
        <li lang="objectivec-swift"><a href="{{ site.oc_release_notes }}ios-10.html" class="otherLinkColour">Version 10.x</a></li>
        <li lang="objectivec-swift"><a href="{{ site.oc_release_notes }}ios-9.html" class="otherLinkColour">Version 9.x</a></li>
        <li lang="objectivec-swift"><a href="{{ site.oc_release_notes }}ios-8.html" class="otherLinkColour">Version 8.x</a></li>
        <li lang="objectivec-swift"><a href="{{ site.oc_release_notes }}ios-7.html" class="otherLinkColour">Version 7.6 and below</a></li>
    </ul>
</li>
<li lang="objectivec-swift"><a href="{{ site.oc }}upgrade.html" class="otherLinkColour">Upgrade Instructions</a></li>
<li lang="objectivec-swift" ><a href="{{ site.oc_faq }}" class="otherLinkColour">FAQ</a>
    <ul lang="objectivec-swift" >
        <li lang="objectivec-swift" ><a href="{{ site.oc_faq }}arm64-simulator-error.html" class="otherLinkColour">How do I resolve the "Building for iOS Simulator, but linking in dylib built for iOS" error when building for the iOS simulator?</a></li>
        <li lang="objectivec-swift" ><a href="{{ site.oc_faq }}armv7-architecture-error.html" class="otherLinkColour">How do you solve the "Undefined symbols for architecture armv7" error building on iOS?</a></li>
        <li lang="objectivec-swift" ><a href="{{ site.oc_faq }}bitcode-support.html" class="otherLinkColour">Does the SDK support iOS bitcode framework?</a></li>
        <li lang="objectivec-swift" ><a href="{{ site.oc_faq }}disable-continuous-scanning.html" class="otherLinkColour">How do I disable the continuous barcode scanning feature and close the scanner view?</a></li>
        <li lang="objectivec-swift" ><a href="{{ site.oc_faq }}drivers-license-extraction.html" class="otherLinkColour">How is the driver's license sample able to extract the information into readable fields? Is DBR responsible for this function?</a></li>
        <li lang="objectivec-swift" ><a href="{{ site.oc_faq }}min-system-requirements.html" class="otherLinkColour">What are the minimum system requirements of DBR iOS?</a></li>
        <li lang="objectivec-swift" ><a href="{{ site.oc_faq }}no-camera-enhancer.html" class="otherLinkColour">Can I use DBR iOS without the Camera Enhancer module?</a></li>
        <li lang="objectivec-swift" ><a href="{{ site.oc_faq }}page-freeze.html" class="otherLinkColour">Why does it sometimes freeze when I enter the scan page?</a></li>
        <!-- <li lang="objectivec-swift" ><a href="{{ site.oc_faq }}reduce-battery-consumption.html" class="otherLinkColour">How to reduce battery consumption when using the Barcode Reader?</a></li> -->
        <!-- <li lang="objectivec-swift" ><a href="{{ site.oc_faq }}sdk-size.html" class="otherLinkColour">What is the size of the SDK?</a></li> -->
        <li lang="objectivec-swift" ><a href="{{ site.oc_faq }}simulator-support.html" class="otherLinkColour">Does DBR iOS support simulator devices?</a></li>
        <!-- <li lang="objectivec-swift" ><a href="{{ site.oc_faq }}template-support.html" class="otherLinkColour">On the Barcode Scanner X demo app, there's several modes made for specific use cases, including one for driver licenses. How can I configure my app to do the same?</a></li> -->
        <!-- <li lang="objectivec-swift" ><a href="{{ site.oc_faq }}third-party-frames-html" class="otherLinkColour">Can DBR iOS work with third-party frameworks such as Xamarin, React Native, Flutter and Cordova?</a></li> -->
        <li lang="objectivec-swift" ><a href="{{ site.oc_faq }}troubleshooting-failed-image.html" class="otherLinkColour">My barcode is not being picked up using the Barcode Scanner X app. Does this mean that your SDK cannot read the image?</a></li>
        <li lang="objectivec-swift" ><a href="{{ site.oc_faq }}debug-mode-barcodescannerx.html" class="otherLinkColour">How to use debug mode in BarcodeScannerX?</a></li>
        <li lang="objectivec-swift" ><a href="{{ site.oc_faq }}how-to-enable-qr-model-one.html" class="otherLinkColour">How to enable QR code Model 1 in BarcodeScannerX?</a></li>
        <!-- <li lang="objectivec-swift" ><a href="{{site.faq_general}}unprintable-character.html?lang=objc,swift" class="otherLinkColour">How to Handle Non-printable Characters Like "\u{1D}" or "{GS}" from the Barcode Text?</a></li> -->
    </ul>
</li>
<!-- <li lang="objectivec-swift" ><a href="{{ site.faq_ios }}" class="otherLinkColour">FAQ</a>
</li> -->

<li lang="objectivec-swift" class="category">OTHERS</li>
<li lang="objectivec-swift"><a target="_blank" href="{{ site.android }}" class="otherLinkColour refreshLink">Develop for Android (Java & Kotlin)</a></li>
<li lang="objectivec-swift" ><a target="_blank" href="{{ site.react_native }}" class="otherLinkColour">Develop for React Native</a></li>
<li lang="objectivec-swift" ><a target="_blank" href="{{ site.flutter }}" class="otherLinkColour">Develop for Flutter</a></li>
<li lang="objectivec-swift" ><a target="_blank" href="{{ site.xamarin }}" class="otherLinkColour">Develop for Xamarin.Forms</a></li>
<li lang="objectivec-swift" ><a target="_blank" href="{{ site.cordova }}" class="otherLinkColour">Develop for Cordova</a></li>
