<li lang="react-native" class="category">DEVELOPMENT ON REACT NATIVE</li>
<li lang="react-native" ><a href="{{ site.react_native }}user-guide/barcode-reader.html" class="otherLinkColour">User Guide</a></li>
<li lang="react-native" ><a href="{{ site.react_native_api }}" class="otherLinkColour">API references</a>
    <ul lang="react-native" >
        <li lang="react-native" ><a href="{{ site.react_native_api }}barcode-reader.html" class="otherLinkColour">DCVBarcodeReader Class</a></li>
        <li lang="react-native" ><a href="{{ site.react_native_api }}camera-view.html" class="otherLinkColour">DCVCameraView Class</a></li>
        <li lang="react-native" ><a style="cursor:pointer;color:#3c3c3c">Interfaces</a>
            <ul lang="react-native" >
                <li lang="react-native" ><a href="{{ site.react_native_api }}interface-barcode-location-result.html" class="otherLinkColour">BarcodeLocationResult</a></li>
                <li lang="react-native" ><a href="{{ site.react_native_api }}interface-barcode-result.html" class="otherLinkColour">BarcodeResult</a></li>
                <li lang="react-native" ><a href="{{ site.react_native_api }}interface-dbr-runtime-settings.html" class="otherLinkColour">DBRRuntimeSettings</a></li>
                <li lang="react-native" ><a href="{{ site.react_native_api }}interface-point.html" class="otherLinkColour">Point</a></li>
                <li lang="react-native" ><a href="{{ site.react_native_api }}interface-quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                <li lang="react-native" ><a href="{{ site.react_native_api }}interface-rect.html" class="otherLinkColour">Rect</a></li>
                <li lang="react-native" ><a href="{{ site.react_native_api }}interface-region.html" class="otherLinkColour">Region</a></li>
                <li lang="react-native" ><a href="{{ site.react_native_api }}interface-torch-button.html" class="otherLinkColour">TorchButton</a></li>
            </ul>
        </li>
        <li lang="react-native" ><a style="cursor:pointer;color:#3c3c3c">Enumerations</a>
            <ul lang="react-native" >
                <li lang="react-native" ><a href="{{ site.react_native_api }}enum-barcode-format.html" class="otherLinkColour">EnumBarcodeFormat</a></li>
                <li lang="react-native" ><a href="{{ site.react_native_api }}enum-barcode-format2.html" class="otherLinkColour">EnumBarcodeFormat_2</a></li>
                <li lang="react-native" ><a href="{{ site.react_native_api }}enum-dbr-preset-template.html" class="otherLinkColour">EnumDBRPresetTemplate</a></li>
                <li lang="react-native" ><a href="{{ site.react_native_api }}enum-torch-state.html" class="otherLinkColour">EnumTorchState</a></li>
                <li lang="react-native" ><a href="{{ site.react_native_api }}enum-camera-position.html" class="otherLinkColour">EnumCameraPosition</a></li>
            </ul>
        </li>
    </ul>
</li>

<li lang="react-native" class="category">USEFUL RESOURCES</li>
<li lang="react-native" ><a href="{{ site.react_native }}release-notes/" class="otherLinkColour">Release Notes</a>
    <ul lang="react-native" >
        <li lang="react-native" ><a href="{{ site.react_native }}release-notes/rn-1.html" class="otherLinkColour">Version 1.x</a></li>
    </ul>
</li>
<li lang="react-native" class="category">OTHERS</li>
<li lang="react-native" ><a target="_blank" href="{{ site.oc }}" class="otherLinkColour refreshLink">Develop for iOS (Objective-C & Swift)</a></li>
<li lang="react-native" ><a target="_blank" href="{{ site.android }}" class="otherLinkColour refreshLink">Develop for Android (Java & Kotlin)</a></li>
<li lang="react-native"><a target="_blank" href="{{ site.dbr_maui }}" class="otherLinkColour refreshLink">Develop for MAUI</a></li>
<li lang="react-native" ><a target="_blank" href="{{ site.flutter }}" class="otherLinkColour refreshLink">Develop for Flutter</a></li>
