<li lang="xamarin" class="category">DEVELOPMENT ON XAMARIN.FORMS</li>
<li lang="xamarin" ><a href="{{ site.xamarin }}user-guide/barcode-reader.html" class="otherLinkColour">User Guide</a></li>
<li lang="xamarin" ><a href="{{ site.xamarin_api }}" class="otherLinkColour">API references</a>
    <ul lang="xamarin" >
        <li lang="xamarin" ><a style="cursor:pointer;color:#3c3c3c">namespace DCVXamarin</a>
            <ul lang="xamarin" >
                <li lang="xamarin" ><a href="{{ site.xamarin_api }}barcode-reader.html" class="otherLinkColour">IBarcodeReader</a></li>
                <li lang="xamarin" ><a href="{{ site.xamarin_api }}camera-enhancer.html" class="otherLinkColour">ICameraEnhancer</a></li>
                <li lang="xamarin" ><a href="{{ site.xamarin_api }}camera-view.html" class="otherLinkColour">CameraView</a></li>
                <li lang="xamarin" ><a style="cursor:pointer;color:#3c3c3c">Auxiliary Classes/Interfaces</a>
                    <ul lang="xamarin" >
                        <li lang="xamarin" ><a href="{{ site.xamarin_api }}class-range.html" class="otherLinkColour">Range</a></li>
                        <li lang="xamarin" ><a href="{{ site.xamarin_api }}class-rect.html" class="otherLinkColour">Rect</a></li>
                        <li lang="xamarin" ><a href="{{ site.xamarin_api }}class-region.html" class="otherLinkColour">Region</a></li>
                        <li lang="xamarin" ><a href="{{ site.xamarin_api }}class-quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                        <li lang="xamarin" ><a href="{{ site.xamarin_api }}class-barcode-result.html" class="otherLinkColour">BarcodeResult</a></li>
                        <li lang="xamarin" ><a href="{{ site.xamarin_api }}class-barcode-location-result.html" class="otherLinkColour">BarcodeLocationResult</a></li>
                        <li lang="xamarin" ><a href="{{ site.xamarin_api }}class-dbr-runtime-settings.html" class="otherLinkColour">DBRRuntimeSettings</a></li>
                        <li lang="xamarin" ><a href="{{ site.xamarin_api }}class-torch-button.html" class="otherLinkColour">TorchButton</a></li>
                        <li lang="xamarin" ><a href="{{ site.xamarin_api }}interface-barcode-result-listener.html" class="otherLinkColour">IBarcodeResultListener</a></li>
                        <li lang="xamarin" ><a href="{{ site.xamarin_api }}interface-license-verification-listener.html" class="otherLinkColour">ILicenseVerificationListener</a></li>
                    </ul>
                </li>
                <li lang="xamarin" ><a style="cursor:pointer;color:#3c3c3c">Enumerations</a>
                    <ul lang="xamarin" >
                        <li lang="xamarin" ><a href="{{ site.xamarin_api }}enum-dbr-preset-template.html" class="otherLinkColour">EnumPresetTemplate</a></li>
                        <li lang="xamarin" ><a href="{{ site.xamarin_api }}enum-barcode-format.html" class="otherLinkColour">EnumBarcodeFormat</a></li>
                        <li lang="xamarin" ><a href="{{ site.xamarin_api }}enum-barcode-format2.html" class="otherLinkColour">EnumBarcodeFormat_2</a></li>
                        <li lang="xamarin" ><a href="{{ site.xamarin_api }}enum-enhancer-features.html" class="otherLinkColour">EnumEnhancerFeatures</a></li>
                        <li lang="xamarin" ><a href="{{ site.xamarin_api }}enum-focus-mode.html" class="otherLinkColour">EnumFocusMode</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="xamarin" ><a style="cursor:pointer;color:#3c3c3c">namespace DCVXamarin.Droid</a>
            <ul lang="xamarin" >
                <li lang="xamarin" ><a href="{{ site.xamarin_api }}android-barcode-reader.html" class="otherLinkColour">BarcodeReader</a></li>
                <li lang="xamarin" ><a href="{{ site.xamarin_api }}android-camera-enhancer.html" class="otherLinkColour">CameraEnhancer</a></li>
            </ul>
        </li>
        <li lang="xamarin" ><a style="cursor:pointer;color:#3c3c3c">namespace DCVXamarin.iOS</a>
            <ul lang="xamarin" >
                <li lang="xamarin" ><a href="{{ site.xamarin_api }}ios-barcode-reader.html" class="otherLinkColour">BarcodeReader</a></li>
                <li lang="xamarin" ><a href="{{ site.xamarin_api }}ios-camera-enhancer.html" class="otherLinkColour">CameraEnhancer</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="xamarin" ><a href="{{ site.xamarin }}release-notes/" class="otherLinkColour">Release Notes</a>
    <ul lang="xamarin" >
        <li lang="xamarin" ><a href="{{ site.xamarin }}release-notes/xamarin-1.html" class="otherLinkColour">Version 1.x</a></li>
    </ul>
</li>
<li lang="xamarin"  class="category">OTHERS</li>
<li lang="xamarin" ><a target="_blank" href="{{ site.oc }}" class="otherLinkColour refreshLink">Develop for iOS (Objective-C & Swift)</a></li>
<li lang="xamarin" ><a target="_blank" href="{{ site.android }}" class="otherLinkColour refreshLink">Develop for Android (Java & Kotlin)</a></li>
<li lang="xamarin" ><a target="_blank" href="{{ site.react_native }}" class="otherLinkColour refreshLink">Develop for React Native</a></li>
<li lang="xamarin" ><a target="_blank" href="{{ site.flutter }}" class="otherLinkColour refreshLink">Develop for Flutter</a></li>
<li lang="xamarin" ><a target="_blank" href="{{ site.cordova }}" class="otherLinkColour refreshLink">Develop for Cordova</a></li>
